[2020-07-18 18:19] pixelzoom opened #1 "Fourier: Making Waves master checklist"
# Fourier: Making Waves master checklist

## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/not

[2020-07-18 18:35] pixelzoom opened #2 "credits"
Complete the credits in fourier-making-waves-main.js.

[2020-09-15 02:13] pixelzoom opened #3 "evaluate griddle for use in this sim"
This issue will evaluate whether the chart requirements of this sim can be met by (1) using existing griddle components, or (2) adding addition functionality to griddle.

[2020-09-15 02:17] pixelzoom commented on #3
The Amplitude graph appears in the _Discrete_ and _Wave Game_ screens.  It looks like this:

<img width="739" alt="screenshot_566" src="https://user-images.githubusercontent.com/3046552/93157195-fa35aa80-f6c6-11ea-8649-f575ccfb923c.png">

The number of harmonics is variable from [1,11].  Each bar is a slider.

The bars are custom (see `AmplitudeSlider`), and unlikely to be used in other sims.  The

[2020-11-02 20:40] pixelzoom commented on #3
For the charts shown below, I'll attempt to use XYChartNode, and see what problems I encounter.   The "Harmonics" chart consists of sine/cosine functions, so describing them as XY data series (`DynamicSeries`)  may not be the most efficient approach. I'm also concerned about griddle's ability to handle the "Components" chart.

<img width="743" alt="screenshot_645" src="https://user-images.githubus

[2020-11-02 20:40] pixelzoom commented on #3
For the chart below, I'll attempt to use BarChartNode, and see what problems I encounter.

<img width="738" alt="screenshot_647" src="https://user-images.githubusercontent.com/3046552/97916873-d7ac2f00-1d10-11eb-9f5f-485f7b0b336e.png">

[2020-11-02 21:33] pixelzoom commented on #3
For the chart below, I cannot use BarChartNode, because it does not support XY data sets. See https://github.com/phetsims/griddle/issues/76.  So I plan to implement this chart for Fourier, and evaluate for migration to griddle later.

<img width="738" alt="screenshot_647" src="https://user-images.githubusercontent.com/3046552/97916873-d7ac2f00-1d10-11eb-9f5f-485f7b0b336e.png">

[2020-11-03 00:56] pixelzoom commented on #3
I've completed my review of griddle.

Specific to Fourier requirements:
* griddle has no support for the Amplitude chart in the Discrete screen, where we need interactive bars.
* griddle has no support for XY bar charts like the Amplitude chart in the Continuous screen.
* griddle's support for XY line plots might be usable for the Harmonics and Sum charts, but it currently lacks a proper "plot" ab

[2020-11-03 18:10] pixelzoom commented on #3
My review of griddle is complete. Here's a summary and recommendations for Fourier.

Specific to Fourier requirements:

* griddle has no support for the interactive bars (sliders) needed for the Amplitudes chart in the Discrete screen.
* griddle has no support for XY bar charts, needed for the Amplitudes chart in the Continuous screen.
* griddle’s XYChartNode might be usable in Fourier, but there

[2020-11-04 02:52] ariel-phet commented on #3
Definitely an acceptable plan @pixelzoom

[2020-11-06 23:18] pixelzoom commented on #3
I'd like to clarify the "migration to griddle" aspect of this issue before closing.

The plan (as I described it in https://github.com/phetsims/fourier-making-waves/issues/3#issuecomment-721293038) is:

Note that migration is not a given, it is very much conditional. If there is no "overall design", there is unlikely to be any migration.

In https://github.com/phetsims/griddle/issues/54#issuecomme

[2020-11-07 00:30] samreid commented on #3
Here are some parts that seem like they should developed in Griddle (if they aren't there already) for use in Fourier:

### Considering the Amplitude Chart
![image](https://user-images.githubusercontent.com/679486/98426145-f97d1d00-2054-11eb-92bd-637ebf2b609f.png)

(1) The chart area that shows the background, border, gridlines, tickmark and labels.
(2) An easy way to embed arbitrary Nodes on a ch

[2020-11-09 19:13] pixelzoom opened #4 "future PhET-iO requirements"
Fourier 1.0 will not include a PhET-iO version. But how 1.0 is implemented will affect what's possible for future PhET-iO instrumentation.  The more we know about future needs, the fewer sim changes will be necessary, and the easier it will be to instrument.  This issue will track options and decisions.

For any new sim, it's difficult to make 1.0 implementation decisions without addressing these

[2020-11-09 19:33] pixelzoom opened #5 "requirements for harmonic colors"
Related to https://github.com/phetsims/fourier-making-waves/issues/4.

In the Java version, menu item `Options > Harmonic Colors...` opens this dialog to change harmonic colors:

<img width="229" alt="screenshot_656" src="https://user-images.githubusercontent.com/3046552/98586930-ad192380-2286-11eb-806c-b3be0ba982d5.png">

* Is a UI like this desired in the HTML5 version? Can it be added to the st

[2020-11-09 20:07] pixelzoom commented on #3
@samreid said:

I disagree with all of these.

Something that is supposed to fill this role already exists.  It's griddle's `GridNode`.  It does not support charts like "Amplitudes" where there is no x-axis scale.  It will be considered for the other charts in Fourier. (It wasn't used in Natural Selection because it didn't exist at the time.)

If "embed" implies that the chart is somehow responsib

[2020-11-09 20:47] ariel-phet commented on #4
We will plan to have an initial discussion this week

[2020-11-09 20:51] samreid commented on #3
All of my remarks were about “parts that seem like they should [be] developed in Griddle (if they aren’t there already)”.  Are you pointing out things that “aren’t there already” or are you making the stronger claim that “they should never be developed in griddle”?

So why not add support for this in GridNode which we agree is "supposed to fill this role" instead of creating a duplicate that will

[2020-11-09 21:29] pixelzoom opened #6 "how to implement variable number of harmonics"
Related to https://github.com/phetsims/fourier-making-waves/issues/4.

The _Discrete_ screen in Fourier allows the student to change the number of harmonics `N`, and set amplitudes for those harmonics.  The amplitudes are labeled as A<sub>1</sub>...A<sub>N</sub>, and the maximum for N is 11.

There are different ways of handling a variable number of harmonics. This decision will affect many other

[2020-11-09 21:43] pixelzoom commented on #3
Yes.  But in a way that fits with the vision for PhET's chart library. Not as something that's just moved to griddle from a sim.

Because without griddle "big picture", anything I migrate from Fourier will further contribute to griddle's core problems - inconsistent APIs, sim-specific approaches, and lack of a vision for PhET's chart library.  I'm also not interested in being the griddle architect

[2020-11-09 22:11] pixelzoom commented on #6
Labeling for discussion at design meeting, and it would be good to have someone from the PhET-iO team attend.

[2020-11-09 22:20] pixelzoom opened #7 "support for hiding one or more harmonics"
Related to https://github.com/phetsims/fourier-making-waves/issues/4.

While discussing https://github.com/phetsims/fourier-making-waves/issues/4 (future PhET-iO design) with @arouinfar, a possible sim-specific feature came up.  @arouinfar wondered if PhET-iO clients might want to hide specific harmonics to meet some learning goal -- for example, set the number of harmonics to 5, but show only the

[2020-11-09 22:24] pixelzoom commented on #7
Assigning to @arouinfar @ariel-phet and @kathy-phet so they can think about this before design meeting, and provide input before the meeting if they feel like it.

[2020-11-09 22:24] pixelzoom commented on #5
Assigning to @arouinfar @ariel-phet and @kathy-phet so they can think about this before design meeting, and provide input before the meeting if they feel like it.

[2020-11-09 22:25] pixelzoom commented on #6
Assigning to @arouinfar @ariel-phet and @kathy-phet so they can think about this before design meeting, and provide input before the meeting if they feel like it.

[2020-11-10 00:40] ariel-phet commented on #5
IMO this is NOT desirable for the HTML5 version. It seems like added complexity that is unnecessary and does not fit a pedagogical goal. I think we should be choosing a set of colors that works well for contrast and color blindness and stick with those.

[2020-11-10 00:44] pixelzoom commented on #5
@ariel-phet please clarify. Is that a "no" to all of the above questions, including:

[2020-11-10 00:59] ariel-phet commented on #7
I can see setting the harmonics to a certain number (which the sim currently allows), but I cannot think of a learning goal where we would want to limit the harmonics to just even or odd.

If there has never been a feature request of this type, I would definitely not add any of these features to the sim. They seem like unnecessary complexity that is not supporting any learning goal I can articulat

[2020-11-10 02:35] pixelzoom commented on #6
@ariel-phet asked me to summarize the pros and cons of each approach.  And I think it's useful to show the structure of the Studio tree. So here goes...

**(1) A static Waveform instance that has 11 static amplitude Properties (A1...A11)**

PROS:

* Less-complex, static view components, that change visibility based on number of harmonics.
* PhET-iO instrumentation is relatively straightforward.

C

[2020-11-10 05:38] samreid commented on #3
@pixelzoom and I discussed this issue in a zoom call.  Afterwards, I posted this in slack:

After some discussion about other projects and timelines, I said:

@ariel-phet replied:

I'll open side issues for the parts I investigate.

[2020-11-10 05:41] samreid opened #8 "Render the Amplitudes chart"
From https://github.com/phetsims/fourier-making-waves/issues/3, we would like to show an amplitude chart that looks roughly like this:

![image](https://user-images.githubusercontent.com/679486/98632344-92719980-22dc-11eb-8268-b02c49f3bf79.png)

The draggable bars have already been developed.  We need the chart background, tick labels, grid lines, etc.

In https://github.com/phetsims/fourier-makin

[2020-11-10 15:50] samreid commented on #8
Griddle has support for the chart area, tick labels, grid lines, and only showing vertical tick labels, etc, using XYChartNode.  I added support in the commit, and it looks like this:

![image](https://user-images.githubusercontent.com/679486/98637386-97871680-22e5-11eb-8873-7690391e4e04.png)

Some notes:
* This work revealed a bug in GridNode, mentioned and solved above. This bug would have bit u

[2020-11-10 16:32] pixelzoom commented on #8
I see that you tacked on the x-axis label like this:

[code]

XYChartNode is responsible for axis tick marks.  Should it also be responsible for axis labels?

[2020-11-10 17:14] pixelzoom opened #9 "a cleaner "look" for Fourier"
To my eye, the "rectangles inside of rectangles" look of Fourier feels dated and noisy.  Here's the Java version:

<img width="987" alt="screenshot_667" src="https://user-images.githubusercontent.com/3046552/98707313-207d6c80-233d-11eb-8cc3-03ab333f0724.png">

How about if we lose the panels and accordion boxes (whose borders create more rectangles), for a cleaner look?  Something like this:

<img

[2020-11-10 17:45] samreid commented on #8
This seemed an unconventional way to label a chart (at least I couldn't think of any other occurrences like that).  But if we think this style will be widely used, let's add it to XYChartNode.

[2020-11-10 17:54] pixelzoom commented on #8
What's unconventional about it?

Axis labels should have alignment options, with default being to center on axis.

[2020-11-10 20:19] ariel-phet commented on #3
@samreid leaving this issue assigned to you for the moment as you add linked issues

[2020-11-11 00:30] samreid commented on #8
Thanks, I moved that recommendation to a new issue.

[2020-11-11 00:43] pixelzoom commented on #6
In https://github.com/phetsims/tandem/issues/226#issuecomment-725024848, @samreid also recommended approach (1):

[2020-11-11 01:11] samreid commented on #6
To elaborate, the instrumentation guide says:

a component of their parent (instead of being instrumented themselves)

when supporting PhET-iO state and API validation.

instances. Use `PhetioGroup` for multiple instances of the same type. If you have a use case that is not addressed by one
or both of those, then please consult with the PhET-iO subteam, and potentially create a new IO Type
suitabl

[2020-11-11 01:32] pixelzoom commented on #8
@samreid said:

To clarify, the y-axis labels in the Java version (the previously the HTML version) look like this:

<img width="149" alt="screenshot_669" src="https://user-images.githubusercontent.com/3046552/98753500-b76c1800-2381-11eb-82f3-06d57a0d7e0d.png">

After @samreid's changes, the y-axis labels now look like this, where every labels has 1 decimal place:

<img width="122" alt="screenshot

[2020-11-12 21:01] pixelzoom commented on #6
11/12/2020 design meeting: @arouinfar @kathy-phet @samreid @pixelzoom

Consensus was to go with approach (1).

[2020-11-12 21:01] #6 closed

[2020-11-12 22:41] pixelzoom commented on #4
11/12/2020 design meeting with @arouinfar @kathy-phet @samreid @pixelzoom

@arouinfar and @kathy-phet will brainstorm sim-specific PhET-iO features, so assigning them this issue.  It would probably be good to put those requirements in a PhET-iO Design Google Doc, as we did for Natural Selection and pH Scale.

We discussed the model structure in https://github.com/phetsims/fourier-making-waves/issu

[2020-11-12 22:49] pixelzoom opened #10 "create a ColorProfile for this sim"
From https://github.com/phetsims/fourier-making-waves/issues/5#issuecomment-726388930:

[2020-11-12 22:49] pixelzoom commented on #5
11/12/2020 design meeting with @arouinfar @kathy-phet @samreid @pixelzoom

* We will not have a UI for changing colors.

* We will not allow colors to be changed via PhET-iO.

* We will use a ColorProfile in this sim, to facilitate tweaking colors via fourier-making-waves-colors.hmtl. See https://github.com/phetsims/fourier-making-waves/issues/10.

* We noted that ColorProfile should be used in al

[2020-11-12 22:49] #5 closed

[2020-11-12 22:57] pixelzoom commented on #9
11/12/2020 design meeting with @arouinfar @kathy-phet @samreid @pixelzoom

Consensus was that this is a good look, and I should proceed.

We also discussed making Amplitudes look less like a chart and more like a collection of sliders with shared ranges. Something like the mockup below.  This might also help with any confusion with the x-axes, since Amplitudes is not really a chart, and the x-axis

[2020-11-12 23:04] pixelzoom commented on #8
11/20/2020 design meeting with @arouinfar @kathy-phet @samreid @pixelzoom

Over in https://github.com/phetsims/fourier-making-waves/issues/9#issuecomment-726391745, we decided to move in a different direction for Amplitudes, to make it less chart-like.   XYChartNode is feeling more and more like the wrong tool here, and may be replaced with something sim-specific.

That said, if we continued to us

[2020-11-12 23:07] pixelzoom commented on #8
I'm ready to close this issue.  What we learned about XYChartNode is being tracked in griddle-specific issues. And the Amplitudes UI is most likely going to move away from looking like a chart.

[2020-11-12 23:07] #8 closed

[2020-11-12 23:08] pixelzoom commented on #9
Closing this issue since the general direction was approved.

[2020-11-12 23:08] #9 closed

[2020-11-12 23:09] pixelzoom commented on #7
@arouinfar @kathy-phet please address this issue as part of the brainstorming task in https://github.com/phetsims/fourier-making-waves/issues/4.

[2020-11-13 00:50] pixelzoom opened #11 "determine why amplitude range is [-1.27, 1.27] and document it"
In FourierConstants.java of the Java version, the maximum absolute amplitude is:

[code]

So the range of amplitudes is [-1.27, 1.27].

There is unfortunately nothing is the Java code or design docs that documents why this range is significant. And it makes the sliders in the Amplitudes panel a little odd, because their min and max are not labeled:

<img width="734" alt="screenshot_677" src="https

[2020-11-13 03:08] pixelzoom opened #12 "enable CT tests for PhET-iO"
For https://github.com/phetsims/phet-io/issues/1715#issuecomment-725677102, and to support incremental development...

I enabled phet-io (so that I can test with phetmarks) but disabled validation (so I won't get CT failures).

When the sim's phet-io implementation is more mature, validation should be turned on, by removing `phet.phet-io.validation: false` from package.json.  Deferred until that t

[2020-11-13 16:28] KatieWoe opened #13 "CT: color unable to parse color string"
[code]

[2020-11-13 16:41] pixelzoom commented on #13
Caused by lack of a "color Property" and the PhET-iO's inability to handle `{null|string|Color}`, see https://github.com/phetsims/scenery/issues/1115.   I thought I had converted everything to `Color` instances, but apparently not.

[2020-11-13 16:44] pixelzoom commented on #13
`"#ff00"` doesn't appear explicitly in an Fourier code, and it's not a valid CSS color string.

[2020-11-13 16:50] pixelzoom commented on #13
Reproduced locally with `phet-io-wrappers/state/?sim=fourier-making-waves&phetioDebug`. Fails immediately on startup with:

[code]

[2020-11-13 16:52] pixelzoom commented on #13
I tried the usual workaround of adding a `debugger` statement to assert.js. but that doesn't give me any additional info.

I need help from someone on the iO team.  I have no idea how to narrow this down to a specific Property.

[2020-11-13 16:59] pixelzoom commented on #13
If I make this change to ColorIO, the problem goes away:

[code]

Color.toStateObject is:

[code]

So where would `stateObject.hex` not have a value?   And has the computation of `hex` been tests, or is it buggy?

[2020-11-13 17:04] samreid commented on #13
`hex` was just added 4 days ago as part of work in https://github.com/phetsims/scenery-phet/issues/515.  @zepumph can you please comment?

[2020-11-13 17:22] pixelzoom commented on #13
`hex` sure looks buggy to me:

[code]

[2020-11-13 18:00] pixelzoom commented on #13
Discussed with @zepumph via Zoom.  The problem is that the color chooser in Studio and color.html files only works with CSS strings in hex format.   A `hex` field was added to Color's state object, and this has introduced bugs.

Color, ColorProfile, and PhetioElementView all need some work.

Color has this bit of buggy code in `toStateObject`:

[code]

... and this in `fromStateObject`:

[code]

`

[2020-11-13 18:10] pixelzoom commented on #13
Another comment. `Color` and `ColorProfile` are both using `toNumber().toString( 16 )` to create the hex string.   I realize that JavaScript seems to be more lax about relying on the format of `toString`.  But personally, I would do everything possible to avoid writing code that relies on the format of `toString`.

[2020-11-13 18:21] zepumph commented on #13
I do not know another way to convert a number to base 16 strings. I think that Number.prototype.toString() is a well vetted and maintained way to achieve this goal. Stack overflow is not an authority, but https://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb serves as a nice data point. I did not see a single implementation in those answers that didn't use `Number.toString()` to ge

[2020-11-13 19:18] zepumph commented on #13
From what @samreid and I see, this removes alpha from the implementation. We felt better about keeping rgba as the serialization, and then adding logic to studio to support the conversion, as @pixelzoom and I discussed doing this morning.

I think I prefer having an explicit rgba as the single serialization. This implementation involved using ColorIO serialization methods in the wrapper, but @samr

[2020-11-14 05:45] samreid opened #14 "Implement the Amplitudes chart for the Continuous screen"
In https://github.com/phetsims/fourier-making-waves/issues/3#issuecomment-720737260 @pixelzoom said:

<img width="738" alt="screenshot_647" src="https://user-images.githubusercontent.com/3046552/97916873-d7ac2f00-1d10-11eb-9f5f-485f7b0b336e.png">

[2020-11-14 05:56] samreid commented on #14
In https://github.com/phetsims/griddle/issues/86 we are developing a more modular, robust and flexible strategy for charts.  It is not complete, but I discussed it with @jonathanolson and we agreed it is a good direction.  I wanted to create this issue to let you know that I am working on this part and planning for it to be ready for Fourier 1.0, so we don't duplicate effort.  This is a snapshot o

[2020-11-14 06:16] samreid commented on #3
I want to report on the status of the mini-sprint, so we can coordinate and avoid duplication of effort.  In short, it is going very well. I opened https://github.com/phetsims/griddle/issues/86 and have been working in an associated branch.  The proposal fixes many of the problems that have open issues in griddle, and makes it possible for griddle to render charts that couldn't be rendered by grid

[2020-11-14 21:15] samreid commented on #3
I don't have the correct data, but here is the current status of the Harmonics chart (in the griddle branch), which uses the new zoom controls that were developed during Natural Selection:

![image](https://user-images.githubusercontent.com/679486/99157115-90fcf400-2683-11eb-9d65-1657e9fd7a9a.png)

It zooms, but it doesn't highlight one data set at a time yet.

[2020-11-14 21:55] samreid commented on #3
How many curves need to be rendered on the "components" chart? On my machine, it's taking around 200ms to render 500 curves:

![image](https://user-images.githubusercontent.com/679486/99157779-467e7600-2689-11eb-980b-736b956a8104.png)

[2020-11-16 18:07] pixelzoom commented on #3
The number of curves equals the number of Fourier components. The number of Fourier components is based on the "Spacing between Fourier components" slider in the control panel:

<img width="280" alt="screenshot_681" src="https://user-images.githubusercontent.com/3046552/99290154-2373d380-27fb-11eb-8ad2-3845ceab5bc5.png">

The slider snaps to tick marks, so the 5 values that we need to show are:

|

[2020-11-16 18:08] pixelzoom commented on #3
Btw... For performance reasons, the Java version flattens the "Components" graph to an image.  See D2CComponentsView.java and FlattenedChart.java.  Unlikely that we'll need to do that in the JavaScript implementation, but thought I'd mention it.

[2020-11-16 19:31] pixelzoom commented on #10
All colors have been moved to FourierMakingWavesColorProfile, and fourier-making-waves-colors.html now exists.  @arouinfar FYI.

Closing.

[2020-11-16 19:31] #10 closed

[2020-11-16 22:58] pixelzoom commented on #13
👍🏻 Looks good, closing.

[2020-11-16 22:58] #13 closed

[2020-11-16 23:32] samreid commented on #3
@pixelzoom and I discussed this today, and I wrote notes in https://github.com/phetsims/griddle/issues/86#issuecomment-728347949.  We also have developer meeting agenda items scheduled for Thursday.  I'm not sure how @pixelzoom will want to proceed with this issue, but I'll unassign myself for now.

[2020-11-16 23:40] pixelzoom commented on #3
Summary of the notes in https://github.com/phetsims/griddle/issues/86#issuecomment-728347949...

Change of plans. Instead of developing sim-specific charts for Fourier, I'll be using the result of @samreid's "sprint", a next-gen griddle sprint (aka "bamboo").

I think we can close this issue.

[2020-11-16 23:40] #3 closed

[2020-11-17 20:51] pixelzoom opened #15 "Translation and display of symbols"
Here's the set of symbols used in Fourier.  Please indicate which symbols need to be translatable, and which need to be displayed in math font, by putting an 'X' in the appropriate column in the table.

| symbol | description | translatable? | math font? | italic? |
| :--- | :--- | --- | --- | --- |
| A | amplitude | x | | |
| cos | cosine | x | | |
| f | frequency | x | x | x |
| F | function of

[2020-11-17 21:32] pixelzoom commented on #15
The above symbols are currently _not_ translatable, and _not_ displayed in math font.  They have been factored out into FMWSymbols.js.  Displaying them in math font, like (for example the "x" in "Mode (x)") will be a lot of work.

[2020-11-18 16:24] KatieWoe opened #16 "CT: value failed isValidValue"
[code]

[2020-11-18 16:42] pixelzoom commented on #16
To reproduce manually:

1. Run the sim
2. Go to Discrete screen
3. Clicking on one of the NumberDisplays above the Amplitude chart, to open the keypad dialog
4. Enter an invalid value on the keypad, like "44".
5. Click outside the dialog to close it.  The failure occurs.

When the dialog is dismissed in any way other than pressing "Enter", the operation is supposed to be canceled.  But apparently

[2020-11-18 17:39] pixelzoom commented on #16
Fixed in the above commits, tested in working copy with `?brand=phet&ea&screens=1&fuzz`.

Closing.

[2020-11-18 17:39] #16 closed

[2020-11-18 17:41] pixelzoom commented on #11
@ariel-phet @kathy-phet any insights on this one?

[2020-11-18 18:57] pixelzoom opened #17 ""snap" requirements for amplitude sliders"
Amplitude sliders currently snap to 0.05 intervals, except at the min (1.27) and max (1.27).  It's trivial to change the interval.

@arouinfar please test-drive in master.  Would you like any changes?

[2020-11-19 20:16] pixelzoom commented on #4
I said:

@arouinfar and @kathy-phet met and added notes to the main design doc, see "November 13, 2020" notes.  I will review and discuss with @arouinfar.

I think that it would be good to move those notes to a new "Fourier PhET-iO Design" document, since that's what we've been doing for other sims. And we decided to do that for other sims so that the main design doc doesn't get bloated.

[2020-11-20 20:29] pixelzoom opened #18 "Amplitude equations for preset functions"
In the Java version, amplitudes for preset functions are defined in [Preset.java](https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Ffourier%2Fsrc%2Fedu%2Fcolorado%2Fphet%2Ffourier%2Fenums%2FPreset.java&commit=75193), the relevant parts of which are reproduced here:

<details>
<summary>Preset.java</summary>

[code]

</details>

Note

[2020-11-22 21:28] samreid commented on #14
@pixelzoom and I discussed the new charting library "bamboo" and it seems ready for use in Fourier.  @pixelzoom up to you if you want to use this issue for anything.  Close if you wish.

[2020-11-22 21:43] #14 closed

[2020-12-01 01:53] pixelzoom opened #19 "odd numeric values for x-axis tick labels in Java version"
In the Java version (and the HTML5 version), `L` (the string length) is 1.

In the Java version, if you have "Math form" checked, the Harmonics chart will have this x-axis scale, with symbolic tick labels, expressed in terms of `L`:

<img width="742" alt="screenshot_707" src="https://user-images.githubusercontent.com/3046552/100686668-0d5a2d00-333c-11eb-8ee3-4b50dd5154ea.png">

If you uncheck "Mat

[2020-12-01 01:53] pixelzoom commented on #11
Raising priority to high.  If this needs to change, it's going to affect a lot of things.  If it's not going to change, we have some UI issues to discuss.

[2020-12-01 01:54] pixelzoom commented on #15
Raising priority to high.  These symbols are everywhere in this sim.  The more I flesh the sim out, the more I'm going to have to change.

[2020-12-01 01:58] kathy-phet commented on #11
I will reach out to the original lead designer.

[2020-12-01 02:04] kathy-phet commented on #11
I see the square wave uses a 1.27 preset. I wonder if that was to keep the coefficients on scale for that preset? At any rate I sent and email off to a couple of folks.

[2020-12-01 02:16] pixelzoom opened #20 "Design for the "Expand sum" feature"
In the Java version, checking the "Expand sum..." checkbox opens this _**non-modal**_ dialog:

<img width="1020" alt="screenshot_717" src="https://user-images.githubusercontent.com/3046552/100688760-4dbbaa00-3340-11eb-80b6-849a1b25ea69.png">

Because this dialog is non-model, as you change things in the sim (amplitudes, number of harmonics, math form), the dialog updates. (It's not pretty, very je

[2020-12-01 03:31] arouinfar commented on #11
@pixelzoom I thought we figured this out when we met to discuss #18. The amplitude range is [-4/pi, 4/pi] because of the factor of pi/4 in the [Fourier series of a square wave](https://mathworld.wolfram.com/FourierSeriesSquareWave.html).  For n=1, the amplitude is 4/pi. None of the other presets contain an a harmonic with an amplitude greater than 1.00.
![image](https://user-images.githubuserconte

[2020-12-01 04:35] kathy-phet commented on #11
Ah - that makes sense. I agree leaving it so the default range has 4/pi on scale. Thanks!

[2020-12-01 05:15] pixelzoom commented on #11
Sorry, I have no recollection of discussing this in the context of #18.   But that makes sense, and I'll document it in the code.

1.27 may still seem like a magic number fo students (and teachers!) Do you think that we should label any of the y axes (or range for the amplitude sliders?) with 4/pi ?   Or discuss in the Teacher Tips?  Or both?

[2020-12-01 19:49] ariel-phet commented on #11
@pixelzoom @arouinfar certainly seems mentioning in the the teacher tips. I do not however think it is worth labeling on the axis. If we were concerned at all, we could consider an "info" button as we have used in other sims to help explain the range, but otherwise I do not think it is necessary.

[2020-12-01 20:36] pixelzoom opened #21 "Teacher Tips"
This issue is for documenting things that should go in Teacher Tips.

[2020-12-01 20:37] pixelzoom commented on #21
- [ ] From #11, explain why the amplitude range is [-1.27, 1.27], which is [ -4/pi, 4/pi ].

[2020-12-01 20:37] pixelzoom commented on #11
I've added this to https://github.com/phetsims/fourier-making-waves/issues/21#issuecomment-736804960 (Teacher Tips).

[2020-12-01 20:40] pixelzoom commented on #11
Documented in FourierSeries.js:

[code]

Closing.

[2020-12-01 20:40] #11 closed

[2020-12-01 20:58] pixelzoom commented on #4
@arouinfar When are you available to discuss the "November 13, 2020"  notes in the design doc? And should we move these to a new "Fourier PhET-iO Design" document?

[2020-12-01 21:02] pixelzoom commented on #7
It looks like @arouinfar and @kathy-phet discussed this in the 11/13/2020 meeting notes of [the main design doc](https://docs.google.com/document/d/1tOpstoF6xiMcBJEvG1rJ4mVRzsO6UWzek_ntau4rbWc/edit#heading=h.239xgh85ukkm):

We need to discuss these with high priority.

[2020-12-01 22:28] pixelzoom commented on #20
I've moved forward with the above proposal.  The expanded form is no longer shown in the control panel. It's now accessed via an Info button next to the general form equation, and is displayed in a dialog, screenshot below.  Lots of work still to be done on the formatting, but I'm going to defer that until I get input.

<img width="867" alt="screenshot_720" src="https://user-images.githubuserconte

[2020-12-01 22:31] pixelzoom commented on #15
Whether to use `style: 'italic'` is now an option, so I've added that to the above table.  The default is `style: 'italic'`, but some symbols (e.g. summation) look better with `style: 'normal'`.

[2020-12-03 20:14] pixelzoom commented on #19
12/3/2020 design meeting @arouinfar @kathy-phet @ariel-phet @pixelzoom

* Keep symbolic and numeric x-axis tick labels
* For numeric, only label min and max
* For numeric, fix values for space domain, use L=1

[2020-12-03 20:27] pixelzoom commented on #15
12/3/2020 design meeting @arouinfar @ariel-phet @kathy-phet @pixelzoom

translation:
* @ariel-phet suggested running Java versions for languages where we know people have changed math symbols (e.g. Greek) to see if anyone has translated symbols.  If not, then make them all non-translatable.
* @kathy-phet suggested sensing the list to translators to see what they have to say. Would they translate a

[2020-12-03 20:47] pixelzoom commented on #20
12/3/2020 @arouinfar @kathy-phet @ariel-phet @pixelzoom

Button and dialog are good.  Need to decide which button (and icon) to use, and how to format the dialog content.

[2020-12-03 20:59] pixelzoom commented on #7
12/3/2020 design meeting @arouinfar @kathy-phet @ariel-phet @pixelzoom

This doesn't impede or inform progress on 1.0, and can be revisited during PhET-iO Design phase.  So unassigning and deferring.

[2020-12-03 21:00] pixelzoom commented on #4
We discussed "November 13, 2020" notes during 12/3/2020 design meeting.  See meeting notes in the design doc for details.

[2020-12-03 21:24] pixelzoom commented on #15
In the above commit, I made all symbols translatable _except_ π and Σ.  I can easily make these translatable, but these 2 seemed generally inappropriate to translate.

I applied math font and italics as shown in the table above. Let me know if you'd like any changes, it's trivial to change.

Over to @arouinfar for review.

[2020-12-04 19:35] arouinfar commented on #20
I would change the title of the dialog to "Expanded Form" because that is the technical term for what it displays. It's a bit hard to describe how I'd pixel polish the equation, so here's a mockup of the ideal. Feel free to push back on anything that is unreasonable or unsupported.
![image](https://user-images.githubusercontent.com/8419308/101206081-daf64b80-362b-11eb-85c6-96bb3ea40fb9.png)
* Incr

[2020-12-04 21:00] pixelzoom commented on #20
Re equation format...  All of those requests are relatively easy _except_ the spacing between lines (leading).  I don't believe that RichText provides any support for leading, but I'll investigate.

Re button icon...  I'd like to avoid text and use an icon.   How about if we start with the eyeball and see how that feels?

[2020-12-04 21:02] pixelzoom commented on #20
Re title... Easy to change to "Expanded Form".

Re equation format...  All of those requests are relatively easy _except_ the spacing between lines (leading).  I don't believe that RichText provides any support for leading, but I'll investigate.

Re button icon...  I'd like to avoid text and use an icon.   I don't think it's necessary that the icon communicates "this shows the expanded form", just

[2020-12-04 21:13] pixelzoom commented on #20
@arouinfar a question about the amplitude values... Should they be identical to the values shown above the amplitude sliders (i.e. always 2 decimal places -- e.g. 1.27, 1.00, 0.75, 0.40), or should we drop trailing zeros (e.g. 1.27, 1, 0.75, 0.4)?   Current behavior is the latter.

[2020-12-04 21:19] pixelzoom commented on #20
Surprise, RichText does support leading!

[2020-12-04 21:36] arouinfar commented on #20
I think dropping the trailing zeros looks cleaner in the equation, so let's stick with that.

I'd also prefer an icon over the text. The eyeball was my 2nd choice, and I think it communicates "show more" which is appropriate here. Let's move forward with the eyeball and we can get team feedback in the next design meeting.

[2020-12-04 21:44] pixelzoom commented on #15
Btw.. My choices for math font and italics were guided by aesthetics, but happened to end up conforming to the following:

* Greek letters are in math font, no italics
* Roman capital letters are in normal font, no italics
* Roman lowercase letters are in math font, with italics

[2020-12-04 22:16] pixelzoom commented on #20
I was able to satisfy all of the change requests from https://github.com/phetsims/fourier-making-waves/issues/20#issuecomment-738976826, and this is ready for review.

I did need to reduce the number of terms-per-line from 4 to 3.  The worst-case (biggest dialog) is with 11 harmonics, all amplitudes at -1.27, function of 'space & time', math form = 'Wavelength & Period'.  It looks like this with 3

[2020-12-07 18:36] pixelzoom commented on #4
@arouinfar I feel like I have enough information to inform 1.0 (`brand=phet`) implementation.  Is there any addition "up front" design that you and @kathy-phet are planning to do?  Or can this issue be unassigned and deferred for a future (PhET-iO) release?

[2020-12-07 18:39] pixelzoom commented on #4
I guess the one thing that could be done proactively is what I suggested in https://github.com/phetsims/fourier-making-waves/issues/4#issuecomment-730612062:

Or you could wait until later to start the "Fourier PhET-iO Design" document -- up to you.

[2020-12-07 18:42] pixelzoom commented on #17
You might want to get feedback from @kathy-phet too, since she suggested this feature in a design discussion.

[2020-12-09 03:02] pixelzoom opened #22 "use [-1.5,1.5] for amplitude range"
Related to #11...

The only reason that amplitude range is [-1.27,1.27] is because the square ware preset has 1.27 as an amplitude.   @arouinfar suggested that [-1.5,1.5] might be a nicer range, because it feels less like a weird magic number.  It would make the amplitude sliders cleaner.  We'll probably need to expand the max "zoomed out" range for the Sum chart's y axis.   And expanding the rang

[2020-12-09 04:05] pixelzoom commented on #22
This was relatively painless to change, and I think it's much better.  We can tweak the Sum y-axis range later, but for now the maximum range is [-20,20], because 11 harmonics * 1.5 = 16.5.

@arouinfar please test drive in master or [1.0.0-dev.3](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.3/phet/fourier-making-waves_en_phet.html).

[2020-12-10 00:15] pixelzoom opened #23 "Should zero-amplitude harmonics be plotted?"
In the Java version, harmonics with 0 amplitude are not plotted in the Harmonics chart, in both the Discrete and Game screens.  For example, note that only the harmonics with non-zero amplitude (1 & 4) are plotted in this example:

<img width="1024" alt="screenshot_733" src="https://user-images.githubusercontent.com/3046552/101704179-69f6cf80-3a41-11eb-83ea-11babcece973.png">

Do you want that sam

[2020-12-10 00:24] pixelzoom commented on #19
On 12/8/20, @arouinfar and I reviewed tick labels on Slack.  Including only min/max for numeric labels looks very odd - and is more complicated!  Labeling the same ticks for both numeric and symbolic cases looks good, so we'll go with that.

Other requirements have been implemented, and this is ready to review in [1.0.0-dev.4](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.4/phe

[2020-12-11 16:36] KatieWoe opened #24 "CT: Perennial task failed: ... false is not a function"
[code]

[2020-12-11 17:36] pixelzoom opened #25 "CT: all data sets must have the same number of points"
Factored out of https://github.com/phetsims/fourier-making-waves/issues/24:

[code]

[2020-12-11 17:39] pixelzoom commented on #24
Reproduced locally with `grunt --brands=phet-io`.   Looks like someone changed CT to run a phet-io build, which requires client guides.  This sim is in development, so there is no reason to expect it to have client guides.

[2020-12-11 17:58] pixelzoom commented on #24
@zepumph diagnoses this properly (thanks!), a missing `assert &&`.  Fixed in the above commit, tested locally, closing.

[2020-12-11 17:58] #24 closed

[2020-12-11 18:02] pixelzoom commented on #25
I have not been able to reproduce this locally with `?brand=phet&ea&screens=1&fuzz`.   It could be related to #24, since it's the same line of code.  I'll leave this open and see if CT is still having a problem with it.

[2020-12-11 19:58] pixelzoom commented on #25
CT is still failing.

[2020-12-12 00:58] pixelzoom opened #26 "Should time controls be disabled when there is no possibility of animation?"
Should the time control be disabled when the domain is not set to "space & time"?  There is no animation occurring otherwise.

The concern is that the user might play with the time control when domain is "space" or "time", see that it does nothing with those settings, leave the sim paused, and never set it to play for "space & time".  If the control is disabled, then the first time they select "sp

[2020-12-12 01:07] pixelzoom opened #27 "CT: should have type: PhetioEngineIO in allTypes. May need grunt update?"
This started occurring ~4:12 PM on 12/11/2020.  Assigning to the PhET-iO team.

[code]

[2020-12-12 01:12] pixelzoom opened #28 "'sine' and 'cosine' radio button group"
Re this radio button group in the Discrete screen control panel:

<img width="323" alt="screenshot_742" src="https://user-images.githubusercontent.com/3046552/101968363-12409b80-3bdc-11eb-9915-c10f8129c599.png">

These buttons determine whether the waveform is approximated using sines or cosines.  So maybe we should relabel these as "sines" and "cosines" (plural)?

It might also be nice to label t

[2020-12-12 01:18] pixelzoom opened #29 "usability of amplitude sliders"
In the Java version, there is a "wiggle me" telling the user that amplitude bars are draggable:

<img width="564" alt="screenshot_744" src="https://user-images.githubusercontent.com/3046552/101968524-de19aa80-3bdc-11eb-8944-94b81522bf3b.png">

First, should we interview to see if there's a usability issue?  Do students quickly discover that these bars are interactive?

Should we make these bars lo

[2020-12-12 03:52] zepumph commented on #27
Thanks for the report. This is occurring because of work done in https://github.com/phetsims/phet-io/issues/1712 where phetioEngine is added to studio before the sim has started, and before its type (PhetioEngineIO) is given to studio, which occurs once the sim is launched. The bug itself is that studio fuzz was naive, and never starts, instead it uses its list of possible fuzzable actions as its

[2020-12-12 04:38] samreid commented on #27
I added a question in https://github.com/phetsims/phet-io/issues/1712, let's continue the review there.

[2020-12-12 04:39] zepumph commented on #27
Sounds good. Over to @pixelzoom to close if fixed on CT.

[2020-12-12 23:05] pixelzoom commented on #25
This is now occurring for State wrapper test only, see below.   I'm guessing that when state is restored, this (invalid) intermediate state occurs.

[code]

[2020-12-12 23:08] pixelzoom commented on #25
At this stage of implementation,  I don't care whether there are State wrapper problems, I fully expect that there will be problems, and I care only about being to incrementally add tandems and inspect the Studio tree.

@zepumph @samreid How do I tell CT that my sim is not ready for State wrapper testing?

[2020-12-12 23:19] pixelzoom commented on #25
I did find a way to fail this assertion in unbuilt brand=phet:

1. Start the sim with ?ea
2. Go to Discrete screen
3. Set Waveform combo box to "wave packet"
4. Set Harmonics picker to 10
5. Set Harmonics picker to 11

[2020-12-13 01:41] samreid commented on #25
As I mentioned in https://github.com/phetsims/aqua/issues/113#issuecomment-743932825

[2020-12-13 02:45] pixelzoom commented on #25
Thanks, I'm aware of phet-io-state-unsupported.  My question is how do I opt out of **_all_** PhET-iO tests.  My sim is not going to support PhET-iO until > 1.0, but I still need to add a minimal amount of PhET-iO instrumentation in order to confirm that I'm going to be able to meet design requirements.

If it's really impossible to add the PhET-iO modes to phetmarks without enabling CT PhET-iO te

[2020-12-13 02:52] pixelzoom commented on #12
So that CT doesn't run State wrapper tests, I've added fourier-making-waves to perennial/data/phet-io-state-unsupported. We'll need to remember to remove it from this file when we want PhET-iO testing to resume.

I'd prefer a way to disable all PhET-iO CT tests, but that's not currently possible. See https://github.com/phetsims/aqua/issues/113.

[2020-12-13 21:34] pixelzoom opened #30 "Add a key for math symbols"
This sim has a relatively large number of math symbols, and the meaning of most of them is not identified in the sim.  See list below, taken from model.md.

Should we add a key that identifies these symbols? Maybe a dialog, that is accessed via an "Info" button to the right of the "Math Form" label in the Discrete control panel? And somewhere else in the Continuous screen?

Discrete screen:
* A =

[2020-12-14 16:31] pixelzoom commented on #27
I'm not familiar with what the problem was here, so can't review anything.  But I can confirm that this is no longer occurring in CT, so closing.

[2020-12-14 16:31] #27 closed

[2020-12-14 18:10] pixelzoom commented on #29
Here's what I came up with.  I started by putting grippy dots on the thumb.  Then I thought it would be nice to color-code the dots to the harmonic, so that you know what color is used for a harmonic even when it's amplitude is zero.   For example, the "square" waveform looks like this:

<img width="847" alt="screenshot_748" src="https://user-images.githubusercontent.com/3046552/102118393-dfc1b900

[2020-12-14 18:12] pixelzoom commented on #29
Here's what I came up with.  I started by putting grippy dots on the thumb.  Then I thought it would be nice to color-code the dots to the harmonic, so that you know what color is used for a harmonic even when it's amplitude is zero.   For example, the "square" waveform looks like this:

<img width="847" alt="screenshot_748" src="https://user-images.githubusercontent.com/3046552/102118393-dfc1b900

[2020-12-14 20:20] pixelzoom commented on #29
Note in the above screenshot that I made the thumb a little wider than the track (bar), and gave the thumb rounded corners. Imo it makes it look more like a slider thumb, like a separate piece that you should grab.

It's also easy to make the thumb the same width as the track (bar) and lose the rounded corners, like this:

<img width="654" alt="screenshot_750" src="https://user-images.githubuserco

[2020-12-14 21:59] pixelzoom commented on #25
What's going on here...

When number of harmonics is changed while a preset waveform is selected, it updates the amplitudes for each of the harmonics.  In DiscreteModel:

[code]

Over in HarmonicsChart, when a harmonic's amplitude changes, its plot and the sum are updated:

[code]

The problem is that `updateSumDataSet` gets called before DiscreteModel has updated all of the amplitudes, so it fail

[2020-12-14 22:00] pixelzoom commented on #25
Hmmm... If what I described in the previous comment is the cause, then why does this fail only with the "wave packet" preset, and not the other presets?

[2020-12-14 22:18] pixelzoom commented on #26
I went ahead and enabled the time controls only for "space & time".  Test-drive in master.

[2020-12-14 22:21] pixelzoom commented on #23
As in the Java version, zero amplitude harmonics are not plotted.  Test drive in master.

[2020-12-15 23:48] pixelzoom opened #31 "emphasizing harmonics on touch devices"
In the Java version, a harmonic is emphasized in the Harmonics graph by using a thicker `lineWidth` for its plot, and using a thinner `lineWidth` and gray for the other plots.   A harmonic is emphasized when you interact with (mouseOver or drag) its associated amplitude slider or measurement tools.

When considered on touch devices, this feature presents some questions and challenges.

First, whic

[2020-12-16 17:15] pixelzoom commented on #31
I have a proof-of-concept working in master, using the "emphasize most recent choice" approach.  Basically there's a Property called `emphasizedHarmonicProperty` whose value can be either a harmonic or null.   If it's null, there's nothing emphasized, and all harmonic plots look the same.  If it's not null, the plot that corresponds to emphasizedHarmonicProperty is made thicker, and the other plot

[2020-12-16 18:12] pixelzoom commented on #31
Note that the proof-of-concept in master currently emphasizes a plot when the pointer is over its associated amplitude slider or measurement tool.  For amplitude slider, "over" includes the invisible part of the track, which extends the full height of the Amplitudes chart (we'll want only the thumb and visible parts of the track).  And if you move the pointer outside of the slider while dragging,

[2020-12-16 18:16] pixelzoom commented on #31
I published [1.0.0-dev.5](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.5/phet/fourier-making-waves_en_phet.html) containing the "emphasize one harmonic" approach.

[2020-12-16 19:20] arouinfar commented on #4
@pixelzoom in terms of the Discrete screen, I don't think there is anything else left to discuss for 1.0. We should identify PhET-iO requirements as we move forward with the Game and Continuous screens, though. I'll leave this self-assigned until those discussions happen.

I created [Fourier: Making Waves - PhET-iO](https://docs.google.com/document/d/1BaPMzLPeFiQoppEkvaSLlyqKpolXv6fzZ6nEr0EO7bA/ed

[2020-12-16 20:02] arouinfar commented on #29
The rounded thumbs currently in master look great! I'll tag for design meeting for team sign-off.

This all sounds reasonable to me. If we want the sliders to look interactive, we are going to need some sort of visual decoration on the thumb. Regardless of what that decoration looks like, it will somewhat obscure the bar height, but I think it's an acceptable trade-off. The graph lines help users

[2020-12-16 20:06] pixelzoom opened #32 "relocate "Math Form" control?"
In the _Discrete_ screen, "Math Form" is currently its own section in the control panel:

<img width="249" alt="screenshot_755" src="https://user-images.githubusercontent.com/3046552/102400022-927d4d00-3f9e-11eb-8625-e83a4382925a.png">

Since it controls how the charts are labeled (equations above the graph, numeric vs symbol tick labels on the x axis), should this control be moved to the "Graph C

[2020-12-16 20:14] pixelzoom commented on #29
Great, glad you like them.  At first they felt a little "industrial" to me. But it's not exactly an organic-looking UI (or domain), and they've grown on me.

[2020-12-16 20:34] arouinfar commented on #17
We decided to increase the range to [-1.5, 1.5], see https://github.com/phetsims/fourier-making-waves/issues/22.

@pixelzoom can you set the snap interval to 0.05? It looks like it's back to 0.01 in master.

[2020-12-16 20:38] arouinfar commented on #19
@pixelzoom things are generally looking good in master, but `0L` and `0T` looks strange to me. Can you label the zero as simply `0`?

[2020-12-16 20:47] pixelzoom commented on #17
Snapping occurs when you _release_ a slider, not while you're dragging it, and I verified that it's still set to 0.05 in master.

The change in value as you drag is something totally different.  We don't have a way to set that to 0.05, we can only specify the number of decimal places, which is currently 2 (thus a delta of 0.01).   And if we did somehow manage to set the delta to 0.05, we'd likely

[2020-12-16 20:48] pixelzoom commented on #19
Hmmm, that's a regression - zero values are not supposed to include the symbol.  I'll investigate.

[2020-12-16 20:53] pixelzoom commented on #17
Oh wait... I think I understand what you're asking for - you want dragging to snap to 0.05 increments.  It seems like we should be able to do that, and I've (dimly) recall doing it before.  So let me investigate.

[2020-12-16 20:55] pixelzoom commented on #31
I've implemented the "emphasize multiple harmonics" approach.  It was surprisingly _less_ complicated, the implementation is cleaner, and (most importantly) it feels like the correct behavior with multi-touch.   Test drive in master or [1.0.0-dev.6](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.6/phet/fourier-making-waves_en_phet.html).

[2020-12-16 20:58] pixelzoom commented on #19
Fixed in master and [1.0.0-dev.6](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.6/phet/fourier-making-waves_en_phet.html).  See screenshots below with 'L' (space) and 'T' (time) x axis.

I'll go ahead and close this, since it sounded like this was the only issue.

<img width="917" alt="screenshot_757" src="https://user-images.githubusercontent.com/3046552/102405595-a462ee00-3fa

[2020-12-16 20:58] #19 closed

[2020-12-16 21:06] pixelzoom commented on #17
OK, amplitude sliders now snap to 0.05 interval while dragging.  Slider has a `constrainValue` option that supports this.  In case min/max ever change to something that's not a multiple of 0.05, this snapping does not apply to the min/max values.

Back to @arouinfar to review in master.

[2020-12-16 21:56] pixelzoom commented on #31
Interaction behavior is now as it should be.  If the pointer is over an amplitude slider (thumb or visible portion of the track) or a measurement tool, or if you're dragging an amplitude slider or measurement tool, then the associated harmonic is emphasized.  And this works for multiple harmonics with multi-touch.

Test-drive in master or [1.0.0-dev.7](https://phet-dev.colorado.edu/html/fourier-ma

[2020-12-16 22:13] arouinfar commented on #17
Yep, `constrainValue` was exactly what I was thinking about! Looks good in master, closing.

[2020-12-16 22:13] #17 closed

[2020-12-16 22:17] arouinfar commented on #22
@pixelzoom the amplitude range and sum zoom levels are looking good to me in mater, thanks!

[2020-12-16 22:17] #22 closed

[2020-12-16 22:22] arouinfar commented on #20
The formatting looks great in master. The one pixel polish I have would be to increase the font size of "Expanded Form" so it feels more like a title. Let's try making it the same size as the equation. It's position and bold weight should be enough to make it feel like a title, even at the same font size.

Tagging for design meeting to review the icon choice for the button.

[2020-12-16 22:26] arouinfar commented on #23
Perfect. I think showing zero amplitude harmonics clutters the graph and is not particularly useful. It would also be confusing when the zero-amplitude harmonic is emphasized or compared to the corresponding wavelength/period tool.

Master looks good, closing.

[2020-12-16 22:26] #23 closed

[2020-12-16 22:27] arouinfar commented on #26
I think it's very weird to have an enabled TimeControlNode when it doesn't actually do anything. The behavior in master looks natural to me, thanks @pixelzoom!

[2020-12-16 22:27] #26 closed

[2020-12-16 22:47] pixelzoom commented on #20
Title font size increase to 18 (same as equations in the dialog):

<img width="930" alt="screenshot_762" src="https://user-images.githubusercontent.com/3046552/102415776-ff501180-3fb5-11eb-8ccc-4438830084ef.png">

[2020-12-16 23:40] arouinfar commented on #20
Looks wonderful @pixelzoom!

[2020-12-17 16:56] pixelzoom opened #33 "CT: Cannot read property 'y' of undefined"
Does not occur consistently.  First occurrence in CT was 12/16/2020, 8:30:37 PM.

[code]

[2020-12-17 19:47] pixelzoom commented on #33
I have not been able to reproduce this locally, with a built or unbuilt version.  I've tried `?ea&fuzz` and `?fuzz`.

[2020-12-17 19:49] pixelzoom commented on #33
Uses of `y` in the sim:

[code]

[2020-12-17 21:40] pixelzoom commented on #20
12/17/2020 @arouinfar @kathy-phet @ariel-phet @pixelzoom

Dialog looks good. Everyone likes the eyeball button.

[2020-12-17 21:40] #20 closed

[2020-12-17 21:46] pixelzoom commented on #29
12/17/2020 @arouinfar @kathy-phet @ariel-phet @pixelzoom

@kathy suggested to make the thumbs narrower than the bars, like so:

<img width="857" alt="screenshot_768" src="https://user-images.githubusercontent.com/3046552/102547517-91b7ea00-4076-11eb-93e6-48b53facfedd.png">

I'll check this change in, then self-assign to adjust pointer areas.

[2020-12-17 22:05] pixelzoom opened #34 "polish suggestions - Discrete screen"
12/17/2020 design meeting @arouinfar @kathy-phet @ariel-phet @pixelzoom

Suggestions for polishing the Discrete screen:

- [ ] @ariel-phet: Somehow tie together the pieces of each of the 3 main areas (maybe a vertical bar at left?)
   _Moved this one to #37_

- [x] @ariel-phet: Reduce size of equations above chart (but keep summation indices at current size)
    _Reduced from 18 to 14, summation i

[2020-12-17 22:12] pixelzoom commented on #28
12/17/2020 design meeting @arouinfar @ariel-phet @kathy-phet @pixelzoom

* Change waveform "sine/cosine" to "sinusoidal"
* Change "sine" and "cosine" radio buttons to "sin" and "cos"
* Label radio buttons with "Series:"

[2020-12-17 22:21] pixelzoom commented on #32
12/17/2020 design meeting @arouinfar @kathy-phet @ariel-phet @pixelzoom

* Move "Math Form" control up to Graph Controls
* Rename "Math Form" to "Equation"

[2020-12-17 22:29] pixelzoom commented on #31
12/17/2020 design meeting @arouinfar @ariel-phet @kathy-phet @pixelzoom

"emphasize multiple harmonics" approach looks good.

More testing needed.

[2020-12-17 22:37] pixelzoom commented on #30
12/17/2020 design meeting @arouinfar @kathy-phet @ariel-phet @pixelzoom

Put info button in upper-right corner of control panel, opens dialog titled "Symbols".

[2020-12-17 22:42] pixelzoom opened #35 "use NumberSpinner for setting number of harmonics"
12/17/2020 design meeting @arouinfar @kathy-phet @ariel-phet @pixelzoom

Change harmonics control from NumberPicker to NumberSpinner, with 2 buttons on right side.

[2020-12-17 22:44] pixelzoom opened #36 "relocate y-axis zoom buttons for Sum graph"
In Discrete screen, move y-axis zoom button for Sum to bottom left.  Try to keep "Amplitude" y-axis label centered.

[2020-12-17 22:50] pixelzoom commented on #29
Pointer areas have been adjusted.  Here's what it looks like with and without `?showPointerAreas`:

<img width="842" alt="screenshot_770" src="https://user-images.githubusercontent.com/3046552/102553048-743b4e00-407f-11eb-9af2-450e7fd1f47b.png">

<img width="852" alt="screenshot_771" src="https://user-images.githubusercontent.com/3046552/102553052-769da800-407f-11eb-9787-570066a00f98.png">

Note t

[2020-12-17 23:29] pixelzoom commented on #28
@arouinfar Done, ready for review in master.

Note that I changed "sine/cosine" to "sinusoid", not "sinusoidal".  "sinusoidal" is an adjective; if we used that, then we should also use "triangular".

[2020-12-17 23:30] pixelzoom commented on #32
@arouinfar Changes have been completed, ready for review in master.

[2020-12-18 00:44] pixelzoom commented on #35
@arouinfar ready for review in master.  Pointer areas have been expanded, but will be refined more later in the project, after polishing the entire control panel.

[2020-12-18 00:53] pixelzoom commented on #36
I'm not wild about this, because I think the user will have a hard time finding these zoom buttons.  See below.

<img width="954" alt="screenshot_772" src="https://user-images.githubusercontent.com/3046552/102560890-8f628980-4090-11eb-9aea-20cf6723fba5.png">

Another idea might be to group the y-axis label ("Amplitude") and the zoom buttons, then center that group on the y-axis.

@arouinfar your t

[2020-12-18 03:27] pixelzoom opened #37 "tie together the pieces of the 3 main areas"
Revisiting our decision in https://github.com/phetsims/fourier-making-waves/issues/9 to eliminate the "rectangles inside of rectangles" clutter...

In #34, @ariel-phet suggested that we somehow tie together the pieces of each of the 3 main areas (Amplitude sliders, Harmonics chart, Sum chart).   He feels that they are a little too "floaty".

Screenshot of 1.0.0-dev.9 shown below.

<img width="1024

[2020-12-18 03:29] pixelzoom commented on #37
I did a little playing around, and whatever I do here is going to be a decent chunk of work. Trying to keep these graphs lined up while they're inside a container is challenging (especially since PhET still lacks layout managers). That said...

It sounds to me like you want to go back to the accordion box interface, perhaps with a subdued stroke on the accordion boxes.  That's going to be a major

[2020-12-18 03:30] pixelzoom commented on #34
I move the first suggestion to #37, because it's more involved.  The others have been addressed in master.

@arouinfar @ariel-phet @kathy-phet please review.

[2020-12-18 03:34] pixelzoom commented on #34
I should mention that you can now edit the grid line colors in colors.html, if you want to tweak them further.

[2020-12-18 03:36] kathy-phet commented on #37
I'd like to see the extra vertical space stuff, before going back to an accordian box interface. I think that might help resolve Ariel's concerns without needing the background boxes.

[2020-12-18 03:40] pixelzoom commented on #37
The extra vertical space suggesting have been addressed in #34.

[2020-12-18 03:43] pixelzoom commented on #36
Well... Bottom-left is starting to grow on me, the more I play with it.  It's certainly better than top-right.

[2020-12-18 04:06] pixelzoom commented on #30
@arouinfar ready for review in master, screenshot below.  Let me know if you'd like to change any of the symbol descriptions.

<img width="1062" alt="screenshot_776" src="https://user-images.githubusercontent.com/3046552/102573466-bed2bf80-40ab-11eb-8c59-3f6b82b12235.png">

[2020-12-18 06:01] kathy-phet commented on #34
My 2 cents: I like this without pursuing #37. I imagine it will be used a lot without the equations up, and its pretty nicely separated in that case. I think I prefer that than losing the space that would be needed to get the equations to fall into a box.

Chiming in on other small aspects. I would add a bit more vertical spacing/padding in the right hand controls section. There is room to make th

[2020-12-18 16:16] pixelzoom opened #38 "polish the Discrete control panel"
After the Discrete control panel has stabilized (in terms of what controls are in it, where they are located, what they are named,...)  we'll need to do some polishing (alignment of controls, spacing,...)  I'm not particularly happy with how it looks as of 1.0.0-dev.9:

<img width="294" alt="screenshot_777" src="https://user-images.githubusercontent.com/3046552/102666951-651ed380-4145-11eb-8198-57

[2020-12-18 16:18] kathy-phet commented on #37
My 2 cents. I like it as it is now, and would avoid the extra boxes in favor of the extra space.

[2020-12-18 16:19] pixelzoom commented on #34
Thanks for the feedback @kathy-phet.

Thanks for this. I'm planning a "polish" of the control panel after it has stabilized.  What things should be aligned, spacing, etc.  I'm tracking that in https://github.com/phetsims/fourier-making-waves/issues/38, and will note your comments there.

Sorry, I misunderstood.  Most (all?) of the HTML5 sims that I've worked on have standard x & y margins, which I

[2020-12-18 16:20] pixelzoom commented on #38
In https://github.com/phetsims/fourier-making-waves/issues/34#issuecomment-747887506, @kathy-phet provided some feedback on the control panel, as it was in 1.0.0-dev.8:

[2020-12-18 16:23] pixelzoom commented on #34
Thanks for the feedback @kathy-phet.

That's my preference too.  I did a quick-and-dirty implementation that puts subtle colored background behind the 3 sections.  The background for the Sum area needs to be noticeably taller, with lots more space above the chart.  It looked very lopsided to me, and we'd lose a lot of space to make it look balanced.

Thanks for this. I'm planning a "polish" of the

[2020-12-18 16:31] pixelzoom commented on #37
As I mentioned in https://github.com/phetsims/fourier-making-waves/issues/34:

The additional space needed for the summation symbols is significant and noticeable, even after reducing font size.  So if we go back to a "put a rectangle around it approach" (which includes accordion box),  either spacing will look lopsided when the equations are hidden, or we'll need to steal a chunk of vertical spac

[2020-12-18 16:40] pixelzoom commented on #38
We might also consider vertically centering the control panel in available vertical space, so we don't have a huge negative space below the control panel.

Compare:

![screenshot_186](https://user-images.githubusercontent.com/3046552/102638482-c8dcd880-4114-11eb-925f-3b0b0dff5347.png)

![screenshot_188](https://user-images.githubusercontent.com/3046552/102638544-e316b680-4114-11eb-990a-e168bed4ba8

[2020-12-18 22:28] pixelzoom commented on #38
Getting closer... In the above commit, I adjusted alignment of labels & controls, and increased spacing.  master now looks like this:

<img width="295" alt="screenshot_778" src="https://user-images.githubusercontent.com/3046552/102667032-9dbead00-4145-11eb-806c-3de69f229747.png">

[2020-12-21 18:46] ariel-phet commented on #37
I liked @pixelzoom suggestion during the meeting of just having a simple vertical leader line. Something like this was my thought, a subtle visual cue:

![fourier](https://user-images.githubusercontent.com/4051174/102811110-1e69ed00-4382-11eb-9e90-181e59a614cc.PNG)

[2020-12-21 18:47] ariel-phet commented on #34
Looking good, I commented in #37

[2020-12-21 22:53] pixelzoom commented on #37
Thanks for the mockup @ariel-phet.  I'll give that a try, should be relatively easy.

[2021-01-05 00:34] arouinfar commented on #36
I think the bottom-left alignment is vastly better than top-right. I think it's clear that the buttons are related the the y-axis, but users might overlook the buttons.

I think this would certainly make the buttons more visible, but it might not look as clean. If it's a relatively quick change, it might be nice to try out. Otherwise, we can wait and see what happens in interviews.

[2021-01-05 00:43] arouinfar commented on #35
Looks great!

[2021-01-05 00:43] #35 closed

[2021-01-05 00:43] arouinfar commented on #32
Thanks @pixelzoom. Looks good in master.

[2021-01-05 00:43] #32 closed

[2021-01-05 00:44] pixelzoom commented on #36
It's not a quick change. So let's leave it as is, and check in interviews.

[2021-01-05 00:44] arouinfar commented on #29
Looks good in master, thanks @pixelzoom!

[2021-01-05 00:44] #29 closed

[2021-01-05 00:46] arouinfar commented on #28
Good catch, thanks!

Everything looks good in master, closing.

[2021-01-05 00:46] #28 closed

[2021-01-05 00:52] pixelzoom commented on #30
@arouinfar After reviewing, please keep this issue open and assign to me.  We'll need to decide where to put the Info button in the Continuous screen.

[2021-01-05 19:37] pixelzoom commented on #37
Leader lines have been added in master and [1.0.0-dev.10](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.10/phet/fourier-making-waves_en_phet.html).  Color is currently `rgb(190, 217, 224)` and adjustable in colors.html.  Screenshot below.

To be honest...  I could live with this, but I don't love it.

It comes with trade-offs.... The left side of the Sum chart was already crowd

[2021-01-05 19:58] ariel-phet commented on #37
To me this layout looks more orangized/easier to parse. Fine with being out voted.

[2021-01-06 00:21] pixelzoom commented on #38
Instead of vertically centering the control panel, I added more vertical spacing between components. This will allow us to expand pointer areas more.  See screenshot below.  We can of course do more polishing, but I'm feeling pretty good about where this is at.  So over to @arouinfar for review of master.

<img width="997" alt="screenshot_808" src="https://user-images.githubusercontent.com/3046552

[2021-01-06 18:25] arouinfar commented on #38
Thanks for iterating over this @pixelzoom. I think https://github.com/phetsims/fourier-making-waves/issues/38#issuecomment-754981405 looks really nice. The only thing that I think could use some tuning is the info button.

Here are a few options:
![image](https://user-images.githubusercontent.com/8419308/103804623-ab15db80-500f-11eb-884c-8d422433d6cf.png)

Options 1 and 2 right-align the button wi

[2021-01-06 18:38] arouinfar commented on #37
I think the leader line is vastly better than a fully-bounded AccordionBox, and generally looks pretty clean. I do share @pixelzoom's concern that it crowds the Sum chart a bit, though.

For consistency, we should use the leader line for any ExpandCollapseButton that controls a chart. They'll definitely be on the Continuous screen, but the game is still somewhat an open question.

I don't have a s

[2021-01-06 18:47] kathy-phet commented on #37
Like Chris, I have a preference for without the leader line because it feels busier to me. I think with the spacing changes it works without the grouping. My leaning would be to go without for now, and see if their are issues in interviews.

[2021-01-06 19:30] arouinfar commented on #37
Thanks for the feedback @kathy-phet. Let's wait and see what happens in interviews.

[2021-01-06 21:41] pixelzoom commented on #37
@arouinfar could you please clarify? Does "Let's wait and see what happens in interviews" mean with or without the leader lines?

[2021-01-06 21:42] arouinfar commented on #37
Let's remove the leader lines.

[2021-01-06 21:46] pixelzoom commented on #37
Roger

[2021-01-06 22:33] pixelzoom commented on #37
Leader lines have been removed. If we want to restore them in the future, see 82786ee.

Unassigning until we're ready for interviews.

[2021-01-06 22:42] pixelzoom commented on #38
Re button position... I definitely meant to right-align the button with the separators, so I've fixed that in the above commit. I don't like option 3 - this button is not specific to the "Fourier Series" section of the control panel, and moving the button close to that label implies that it's related.

Re button color...  I have a very slight preference for the blue. It makes the button pop a litt

[2021-01-06 22:46] arouinfar commented on #38
Thanks for your feedback @pixelzoom!

Agreed! Let's go with the blue.

[2021-01-06 23:02] pixelzoom commented on #38
Done! Fill is `rgb( 50, 145, 184 )`, same as SliderThumb.js.  Screenshot below.

Closing.

<img width="267" alt="screenshot_809" src="https://user-images.githubusercontent.com/3046552/103830502-6b171e80-5038-11eb-9bc1-897485f55827.png">

[2021-01-06 23:02] #38 closed

[2021-01-07 01:25] pixelzoom opened #39 "questions about Meaurement Tools"
Question about the Meaurement Tools in the Discrete screen ...

* Where should the tools be positoned initially?  Java initial positions are shown in screenshot below.  For domain=time, the Period tool is in the same initial position as the Wavelength tool.

* Should initial position be reset when Reset All is pressed? Java version does.

* How should dragging be constrained?  Java version allows

[2021-01-07 01:28] pixelzoom opened #40 "Discrete equation positions are incorrect with stringTest=long"
With stringTest=long, the equations above the charts in the Discrete screen are not behaving as expected. They should be centered above their respective charts.   That's not the case, see screenshot below.  The Sum equation is indicated by the pink arrow.  The Harmonics equation is who-knows-where.

<img width="1104" alt="screenshot_811" src="https://user-images.githubusercontent.com/3046552/10383

[2021-01-07 01:54] pixelzoom commented on #33
Still happening, albeit very infrequently:

[code]

[2021-01-07 17:34] pixelzoom commented on #25
This is still occurring infrequently:

[code]

[2021-01-12 18:33] pixelzoom commented on #40
Equations are positioned by observing their localBounds.  The problem with that approach is that localBounds doesn't change when a Node is scaled for maxWidth.  So I could either (a) observe boundsProperty and live with it being called 3x each time the bounds change, or (b)  observe boundsProperty, wrap the equation in a Node, and transform the wrapper.  I chose (b).

[2021-01-12 18:33] #40 closed

[2021-01-12 19:22] pixelzoom opened #41 "revisit design of measurement tools"
Revisiting the design of the measurement tools that are used to measure width....

They currently look like this:

<img width="821" alt="screenshot_813" src="https://user-images.githubusercontent.com/3046552/104361855-43a8d180-54d0-11eb-9922-fb7217edf5fa.png">

These are essentially calipers. And it's a little odd to have the sloped part of the caliper on the inside edge, because you're measuring

[2021-01-12 19:23] pixelzoom commented on #41
If we want to change to the new look shown above, here's the patch to do so.

<details>
<summary>Patch</summary>

[code]

</details>

[2021-01-12 19:30] pixelzoom commented on #41
The mor caliper-like design seems to make things clearer as the length of the tool gets shorter.  For example, compare:

<img width="813" alt="screenshot_815" src="https://user-images.githubusercontent.com/3046552/104363138-ff1e3580-54d1-11eb-805b-50b6b2065a6a.png">

<img width="822" alt="screenshot_816" src="https://user-images.githubusercontent.com/3046552/104363144-00e7f900-54d2-11eb-884c-6f8da

[2021-01-12 19:34] pixelzoom commented on #41
Since I had this patch in my working copy, and I think there's a high probability that we'll want to change to this new look, I went ahead and make the change.  It's easy to revert if you hate it.   Over to @arouinfar to review in master.

[2021-01-13 01:21] pixelzoom commented on #39
Moving forward with this, doing what I think is correct...

Here are the initial tool positions:

Wavelength tool for _Function of: space (x)_ and _Function of: space (x) & time (t)_:

<img width="1105" alt="screenshot_819" src="https://user-images.githubusercontent.com/3046552/104393330-73240200-5501-11eb-847b-1e8b22537944.png">

Period tool for _Function of: time (t)_:

<img width="1103" alt="sc

[2021-01-13 19:04] pixelzoom commented on #39
@arouinfar I made some changes to the tools (factored out duplicate code) and the initial position of the caliper-like tools is now off a little bit in master.  I'm trying to track this down, but wanted to let you know.  If you review this issue, please do so with the assumption that initial positions will be as shown in the above screenshots.

[2021-01-13 23:19] pixelzoom commented on #39
@arouinfar Initial positions are fixed.  So you can review master or [1.0.0-dev.12](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.12/phet/fourier-making-waves_en_phet.html).

[2021-01-14 04:40] arouinfar commented on #41
@pixelzoom the caliper-like appearance looks really nice. Thanks for the suggestion!

Since the updated appearance is in master, I'll go ahead and close.

[2021-01-14 04:40] #41 closed

[2021-01-14 04:58] arouinfar commented on #39
@pixelzoom the initial positions of the Wavelength tool and Period clock look great. I think something's up with the initial position of the caliper-like Period tool, though. When turning it on for the first time, it occludes the Amplitude readouts.
![image](https://user-images.githubusercontent.com/8419308/104546148-c624b480-55e8-11eb-94b7-5a1c3e201241.png)

Once after using the ResetAllButton, i

[2021-01-14 16:52] pixelzoom commented on #39
@arouinfar I can't reproduce the case where the caliper-like Period tool occludes the Amplitude readouts. Can you please provide steps to reproduce?

For the other case, where the caliper-like Period tool is shifted further left than it should be:
1. start sim
2. go to Discrete screen
3. select "Function of: time"
4. Check the "Period" checkbox

[2021-01-14 17:15] pixelzoom commented on #39
@arouinfar said:

All tools are now constrained to be fully inside the browser window's bounds. I think this will make more sense to the user, and make it less likely that a tool will get "lost".   Programmatically it's also more straightforward and will be easier to maintain.  So win win.

[2021-01-14 17:16] arouinfar commented on #39
Sure, it's the same steps you outlined for the offset:

go to Discrete screen
select "Function of: time"
Check the "Period" checkbox

The caliper-like Period tool always shows up on top of the Amplitude controls for me when I follow this procedure. Here's my troubleshooting info:

URL: https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.12/phet/fourier-making-waves_en_phet.html
Versi

[2021-01-14 17:45] arouinfar commented on #34
@pixelzoom I think the pixel polishes look excellent

The panel pixel polishing in #38 has wrapped up, and I think the current position of the control panel looks really nice with equal top/right padding. I don't think we need to top-align the A's with the panel (or vice-versa). I would differently if the Amplitude controls were in a panel, but the free-floating A's don't create the same edge as a

[2021-01-14 17:45] #34 closed

[2021-01-15 04:46] arouinfar commented on #15
@pixelzoom I like the formatting choices you've made with the symbols. I don't have changes to request, so closing.

[2021-01-15 04:46] #15 closed

[2021-01-15 04:50] arouinfar commented on #30
@pixelzoom the symbols dialog looks good. My only suggestion would be to abbreviate all units for consistency. Can you change "meters" to "m" and "milliseconds" to "ms"?

For the Continuous screen, let's start by putting the button in the upper right corner of the control panel.

[2021-01-19 16:37] KatieWoe opened #42 "CT: Cannot read property includes of undefined"
[code]

[2021-01-19 20:28] pixelzoom commented on #39
Wow, really weird.  With macOS 11.1 + Chrome 87, I was not able to reproduce what @arouinfar described with the Period tool (covering the amplitude displays).  After updating to Chrome 88, I can reproduce.

[2021-01-19 20:34] pixelzoom commented on #39
More weirdness...  On Safari, I consistently see what @arouinfar described -- the initial position of the Period tool covers the amplitude displays:

![image](https://user-images.githubusercontent.com/8419308/104546148-c624b480-55e8-11eb-94b7-5a1c3e201241.png)

With Chrome 88, I saw that happen exactly once.  And every reload after that, the Period tool is nowhere near the amplitude displays, it's

[2021-01-19 23:37] pixelzoom commented on #39
If I change the default domain  to "time", then the Wavelength tool is in the wrong initial position.  So I'm guessing that a tool is not being initialized properly when it doesn't correspond to the domain.

[2021-01-19 23:52] pixelzoom commented on #42
Failing at line 128 of MeasurementToolNode:

[code]

I neglected to define `this.emphasizedHarmonics` when this bit of code was moved from subclasses to base class.  Fixed in the above commit. Closing.

[2021-01-19 23:52] #42 closed

[2021-01-20 00:45] pixelzoom commented on #39
In the above commit I had to change the drag bounds for the caliper-like tools.  When you zoom in on the graphs, these tools (specifically for n=1) will become wider than the bounds of the browser window. So it's impossible to constrain these tools to be fully visible. The new behavior is that the left tip of the tool has to be within the width (x dimension) of the browser window, minus a margin o

[2021-01-20 00:47] pixelzoom commented on #39
It might even be better to limit the x postions of these tools to the left and right edges of the charts.  If you wanted to get them out of the way, you should uncheck the checkboxes, not move the tools drastically to the right.

[2021-01-20 01:03] pixelzoom commented on #39
Hmmm... What I proposed in the previous comment is going to involve some major changes to my scenegraph structure.  So perhaps we should leave it the way it is.

[2021-01-20 02:13] pixelzoom commented on #39
Initial position of Period tool is fixed in the above commit.

@arouinfar to summarize what's I need from you:

* Verify that initial postion of all tools is now correct.
* Verify that the drag constraint change described in https://github.com/phetsims/fourier-making-waves/issues/39#issuecomment-763245857 is OK.

[2021-01-20 23:07] arouinfar commented on #39
Looks good!

Oh, good catch with the zoom level. I think the behavior in master feels really nice.

[2021-01-20 23:07] #39 closed

[2021-01-26 23:49] pixelzoom commented on #31
I improved how emphasis of harmonics is managed.  `EmphasizedHarmonics` is an observable "set" that associates input listeners and harmonics.  I tested this on iPad and with `?fuzz` on desktop, and it's looking good.   It can be test-driven in master or https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.14/phet/fourier-making-waves_en_phet.html.

Assigning to @arouinfar -- feel free

[2021-01-26 23:53] pixelzoom commented on #33
I'm still unable to reproduce this locally.  And 'y' is likely a mangled name, since this is a built version.  I'll continue to try fuzzing fourier-making-waves_all_phet_debug.html, in hopes that I can get an unmangled stack trace.

[2021-01-27 04:39] arouinfar commented on #31
I don't have any PhET-supported touch devices, but I tested on my Android phone. When adjusting the amplitude sliders the harmonics are often correctly emphasized. Quite frequently, the harmonics all remain colorful.

QA should test this out when the time comes, but I'll let @pixelzoom decide if this issue should remain open until then.

Troubleshooting information:
!!!!! DO NOT EDIT !!!!!
Name: 

[2021-01-27 04:53] kathy-phet commented on #31
On my iPhone 11, I get similar results to Amy. Sometimes the other harmonics go grey and the one I am adjusting is bold and colored. But very often they all stay colored. It seems hard to figure out a pattern, but if I click on the slider I can get one behavior and then keep clicking and get it to shift into the other behavior.

Troubleshooting information:
!!!!! DO NOT EDIT !!!!!
Name: ‪Fourier:

[2021-01-27 06:16] pixelzoom commented on #31
OK, thanks for testing.  Sounds like there are still some problems, so I'll continue working on this.

[2021-01-27 17:50] pixelzoom commented on #31
THe problem seems to be related to touch snag.  If you click right on a slider, the associated harmonic is emphasized. If you snag it (by clicking somewhere off of it and swiping over it) then the associated harmonic is not emphasized.

@arouinfar or @kathy-phet, can you please confirm?

[2021-01-27 18:34] pixelzoom commented on #31
@jonathanolson and I discussed on Slack.  The problem is that I'm using a PressListener to handle emphasis, and PressListener does not support touch snag.   I thought that I could decouple this behavior from dragging, but apparently not. And the DragListeners for Slider thumb and track are not currently part of the public API, so I can't listen to their `isHighlightedProperty`.   So looks like I m

[2021-01-27 20:23] pixelzoom commented on #31
Touch snag support has been added in the above commit.  @arouinfar or @kathy-phet could you please test-drive in master or [1.0.0-dev.15](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.15/phet/fourier-making-waves_en_phet.html)?

[2021-02-01 18:00] pixelzoom commented on #25
To reproduce this Error manually (as of 1.0.0-dev.15 and b09960089e729b8244213ed62c1f528702e6e6d4):

1. Run the sim with ?ea
2. Go to Discrete screen
3. Select "Wave packet" from the Waveform combo box
4. Change number of harmonics to 10
5. Change number of harmonics to 11

[2021-02-01 23:45] arouinfar commented on #31
@pixelzoom things are working perfectly on my phone! I'll go ahead and close.

[2021-02-01 23:45] #31 closed

[2021-02-02 04:14] pixelzoom commented on #25
Fixed as part of https://github.com/phetsims/fourier-making-waves/commit/28aec4519d46a278e8de4fb8f9a9e39834c45479.  Closing.

[2021-02-02 04:14] #25 closed

[2021-02-02 04:15] pixelzoom commented on #30
Unassigning this until I get to the Continuous screen.

[2021-02-03 00:16] pixelzoom commented on #33
This hasn't occurred for 27 days, and there have been many code changes and refactors.  I'm hopeful that the offending code no longer exists.  So I'm going to close this issue, and will reopen if the problem reappears.

[2021-02-03 00:16] #33 closed

[2021-02-03 17:10] pixelzoom opened #43 "Fourier 1.0 release (9/30/2021)"
From the Project Overview spreadsheet, the milestones for 1.0 release are:

* design complete - 2/28/2021
* feature complete - 6/30/2021
* publish 1.0 - 9/30/2021

[2021-02-03 18:04] pixelzoom opened #44 "screen icons"
Screen icons for this sim need to be designed and implemented.

[2021-02-03 18:50] pixelzoom opened #45 "Review sound implementation for Fourier series (6/1/2021)"
Sound implementation for the _Discrete_ screen is complete, and there is no sim-specific use of sound in the other 2 screens.   So it would be good to review how sound has been implemented, and how it's behaving, so that we can evaluate whether changes need to be made.

I'll need some time from @arouinfar and @jbphet for this -- @arouinfar to evaluate behavior, @jbphet to evaluate behavior  & impl

[2021-02-03 22:01] pixelzoom opened #46 "x-axis range is wrong for 'Function of time (t)'"
Bisecting...  Everything was OK in fc8c36d116a3cde125a9df48052709c9cfee0ad2, and then this regression appeared in the next commit 68a75456aa3a993f0252dc9cf7f5080e9e0aa954.

Steps to reproduce:
1. start sim
2. go to Discrete screen
3. change "Function of" combo box to "time (t)"

Should looks like this:

<img width="1015" alt="screenshot_850" src="https://user-images.githubusercontent.com/3046552/1

[2021-02-03 22:25] pixelzoom commented on #46
68a75456aa3a993f0252dc9cf7f5080e9e0aa954 is where I made some improvements (ha ha) to AxisDescription.js.   Looks like I added a new `range` field, but forgot that this is not the actual range for the x-axis. It's a multiplier that needs to be applied to L or T, depending on the domain.

[2021-02-03 22:43] pixelzoom commented on #46
Fixed, closing.

[2021-02-03 22:43] #46 closed

[2021-02-04 21:23] pixelzoom opened #47 "zero-amplitude harmonics are being shown in the Harmonics graph"
@arouinfar pointed out that zero-amplitude harmonics and sum are now being shown in the charts.   This is a regression, I'll investigate.

Example, in 562ccebb6286e697226335ad93ca686e34a2aecf:

![screenshot_194](https://user-images.githubusercontent.com/3046552/106956956-9868f200-66f4-11eb-8791-fb21894cff63.png)

[2021-02-08 17:17] pixelzoom commented on #47
Fixed, closing.

[2021-02-08 17:17] #47 closed

[2021-02-10 04:28] pixelzoom commented on #18
@arouinfar FYI, I found and implemented the equations for all waveforms _except_ "wave packet", and I've documented where they came from in the source code.  See [Waveform.js](https://github.com/phetsims/fourier-making-waves/blob/master/js/discrete/model/Waveform.js).

[2021-02-10 18:39] jbphet commented on #45
@arouinfar - I think more of a "complete" sound design should be done.  Otherwise, it will be a bit inconsistent with other sims that have sound enabled.  I think the main thing would be to turn on sounds for UI components for the 1st screen, but I haven't looked at the 2nd and 3rd screens.  I may be able to get some of @Ashton-Morris's time to assist if needed.

I'll review ` FourierSoundGenerato

[2021-02-10 18:52] pixelzoom commented on #45
The 2nd and 3rd screens have no sim-specific sound.

[2021-02-10 19:04] pixelzoom commented on #45
Since there is no common-code query parameter support for enabling/disabling categories of sounds, I've added this sim-specific query parameter in FMWQueryParameters.js:

[code]

So to evaluate the behavior of Fourier series sound, please run the sim with `?uiSoundsEnabled=true`.

[2021-02-11 18:03] pixelzoom opened #48 "Enable UI sounds"
UI sounds are currently disabled in fourier-making-waves-main.js:

[code]

... via this query parameter in FMWQueryParameters.js:

[code]

In initial discussions with the design team, UI sounds will likely be disabled for the 1.0 release.  This issue should be revisited before the 1.0 release.  If we do decide to publish 1.0 with UI sounds disabled, then this issue should be kept open and deferred

[2021-02-11 23:45] arouinfar commented on #45
I think this is a bit of a special case, similar to [CCK: DC](https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.0-rc.1/phet/circuit-construction-kit-dc_all_phet.html). There is a single pedagogical sound in both of these sims (sine waves in Fourier and a barking dog in CCK). There are also UI elements in these sims that don't have a sound design, so turning on common UI sounds cou

[2021-02-22 19:22] pixelzoom opened #49 "Wave Game requirements"
From 2/18/21 Slack discussion with @arouinfar ...

A quick update on how the Fourier game is implemented in Java …  Let me know if you think we need to deviate from this. Otherwise I’ll proceed with this “model”.

- [x] The number of non-zero harmonics will be fixed for levels 1-4, and randomly generated (5…11) for level 5.
- [x] Based on the number of non-zero harmonics for a challenge, specific

[2021-02-22 19:30] pixelzoom commented on #18
Status of this issue...

I've located and implemented equations for all preset waveforms except "Wave packet".

For wave packet, the equation documented in the Java code (Preset.java) is

This equation results in amplitudes that are signficantly outside the range [-1.5, 1.5].

I don't know where this equation came from (nothing in the legacy design doc), and I have been unable to locate anything t

[2021-02-22 20:05] pixelzoom commented on #18
Playing around with the wave packet equation, I suspect that there's an error in the operator precedence of this term:

`-(n-no)^2`

That gets executed as `-((n-no)^2)`, and I suspect it should be `(-(n-no))^2)`.  I've change the code to use the latter, and the amplitude values are now in the range [-1.5,1.5].   The amplitude values still do not match the hardcoded Java values, but they are closer

[2021-02-22 20:19] pixelzoom commented on #18
`WAVE_PACKET_AMPLITUDES`, the hardcoded amplitude values (and equation doc), was first added to FourierConstants.java in https://phet.unfuddle.com/a#/projects/9404/repositories/23262/commit?commit=3827.   If was later moved to Presets.java in https://phet.unfuddle.com/a#/projects/9404/repositories/23262/commit?commit=5354.  The values and equation doc were never changed, and (unfortunately) the co

[2021-02-22 20:29] pixelzoom commented on #18
Here's a page in the original [Fourier Design Outline](https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Ffourier%2Fdoc%2FFourier_Design_Outline.pdf&commit=75222) that looks close to the equation shown in Presets.java:

<img width="917" alt="screenshot_874" src="https://user-images.githubusercontent.com/3046552/108766057-e57cfe80-751

[2021-02-22 20:38] pixelzoom commented on #18
Here's a page in the original [Fourier Design Outline](https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Ffourier%2Fdoc%2FFourier_Design_Outline.pdf&commit=75222) that looks close to the equation shown in Presets.java:

<img width="917" alt="screenshot_874" src="https://user-images.githubusercontent.com/3046552/108766057-e57cfe80-751

[2021-03-03 20:12] jbphet commented on #45
I've gone through @pixelzoom's questions and reviewed the behavior and the implementation.  Below are my comments.

**Behavior**

I think so.  I listened to it and played with the range, and noticed some other potential issues that I'll list below, but I did not hear any distortion on my system, and it didn't get overwhelmingly loud, so I think it's reasonable.  This is, of course, a mostly subjec

[2021-03-03 20:12] jbphet commented on #45
@arouinfar - My part on this is done, at least for now.  Please assign it back to @pixelzoom once you've done your bit.

[2021-03-03 20:20] pixelzoom commented on #45
@jbphet Thanks for the thorough review!  My takeaway is:

* Consider reducing the default output level, which I will defer until @arouinfar has reviewed.
* Consider adding a dynamics compressor, which I will defer until @jbphet has investigated a peak detector using `AudioWorkletNode`. (Do we need a GitHub issue for this?)

[2021-03-03 20:26] pixelzoom commented on #45
In the above commit, I added logging of the output level.  When running with `?log`, the value of FourierSoundGenerator will be logged to the browser console.  The initial value is 0.25.  This can be used to recommend a good initial volume.  Start the sim with `?log`, set the level where you want it, then tell me the value shown in the console.

[2021-03-03 22:26] pixelzoom opened #50 "Requirements for Wave Game rewards"
@arouinfar How fancy do you want to get with rewards for the _Wave Game_ screen? The mockup in the design doc shows smiley faces and stars, so that's what I've currently implemented, for all levels (with 100 Nodes in the reward).  If that is sufficient, great, and you can close this issue. If you want level-specific rewards, or something other than faces and stars, let's discuss here.

[2021-03-03 22:31] pixelzoom commented on #50
Possibilities, these can also be combined:

* NO EFFORT: Use 100 yellow faces and stars for all levels.
* MODERATE EFFORT: Use different Nodes for different levels
* EASY: Use different quantities of the same Nodes for different levels (more Nodes for higher levels)
* EASY: Use different colors of the same nodes for different levels
* EASY: Use a random combination of colors for the most difficult

[2021-03-04 21:11] jbphet commented on #45
Above, @pixelzoom said:

I've created an issue, please see https://github.com/phetsims/tambo/issues/133.

[2021-03-18 16:43] pixelzoom opened #51 "CT: Assertion failed: reentry detected"
[code]

[2021-03-18 16:44] pixelzoom commented on #51
This does not appear to be specific to the "pan-and-zoom-fuzz : unbuilt" test.  I also see it occurring with these tests:

fourier-making-waves : fuzz : unbuilt
fourier-making-waves : fuzz : unbuilt : assertSlow
fourier-making-waves : phet-io-fuzz : unbuilt
fourier-making-waves : phet-io-studio-fuzz : unbuilt

[2021-03-18 17:47] pixelzoom opened #52 "Review inputEnabledProperty"
phetsims/scenery#1158 changed pickableProperty to inputEnabledProperty. Review this sim's use of inputEnbledProperty.

[2021-03-18 18:30] pixelzoom commented on #52
Nothing to do here currently, so closing.

[2021-03-18 18:30] #52 closed

[2021-03-23 20:40] pixelzoom commented on #51
Fix pushed in the above commit.  Need to listen to each harmonic's amplitude individually, instead of trying to set all amplitudes at once.

Tested with `brand=phet&ea&fuzz&fuzzPointers=2&supportsPanAndZoom=false`

I'll leave this open to verify that CT agrees.

[2021-03-24 18:11] pixelzoom commented on #51
CT agrees that this is fixed. Closing.

[2021-03-24 18:11] #51 closed

[2021-03-30 23:20] jbphet commented on #45
I now have a working peak detector, and it is showing that the output from this sound generator is quite high.  The peak detector itself is pretty crude at this point, and doesn't have much for documentation, but I'm pretty sure it's working.  I hooked it up by adding the following lines of code to the end of the `FourierSoundGenerator` constructor:

[code]

Below is a screen capture where several

[2021-04-13 23:20] pixelzoom opened #53 "Alternative Input support"
From 4/13/21 Q2 planning meeting:

Investigate adding keyboard navigation for the 1.0 release.

Milestones:
start = 4/1/21
end = 5/15/21

Desig doc: [Fourier: Making Waves - Interactive Description Design](https://docs.google.com/document/d/1wOdmPMD704u4OLl9avI9tl2jpTvsAAcZwMaNfnr0qSs/edit?pli=1#heading=h.qbkcpoz1vzlo)

[2021-04-13 23:21] pixelzoom opened #54 "UI sound design"
From 4/13/21 Q2 planning meeting:

Investigate adding UI-component sounds for the 1.0 release.

Milestones:
start = 4/1/21
end = 5/15/21

[2021-04-13 23:32] pixelzoom commented on #54
4/9/21 Zoom discussion with @jbphet:

* Some standard UI components do not have default sounds - e.g. sliders, which this sim uses heavily.

* Pedagogical vs non-pedagogical sounds.  In this sim, sound for the Fourier series is an example of a pedagogical sound, while checkbox sounds are not pedagogical.

* Sound is currently "all on" or "all off".  You can't turn off sounds that are potentially d

[2021-04-13 23:42] pixelzoom commented on #54
Options:

(a) Continue with the plan we established in #48 - Disable "user-interface" category sounds for the 1.0 release, then address sound design in a future release.  (ESTIMATE: No additional time.)

(b) Ignore the distinction between pedagogical vs non-pedagogical sounds, treat all sounds the same.  Enable "user-interface" category sounds for 1.0, let them co-exist with Fourier series sound,

[2021-04-13 23:54] pixelzoom commented on #53
4/9/21 Zoom discussion with @jbphet:

* Keyboard navigation mainly involves specify an order in which Nodes will be traversed.

* It's unlikely that the default traversal order is what we will want.

* Specifying traversal order involves creating an array of Nodes, where the order of the array determines the order in which Nodes will be traversed.

* Traversal order should be considered when makin

[2021-04-15 21:54] pixelzoom commented on #54
4/15/21 design meeting notes:

@kathy-phet suggested "ducking" UI sounds when Fourier sounds checkbox is checked, as in Waves Intro. @pixelzoom is wondering if this is something supported by tambo, or is it something specific to Waves Intro.

Amplitude sliders would probably not have a "harmonic" sound, probably just click, click, click (like Waves Intro). We also talked about spinners and specifi

[2021-04-15 21:55] pixelzoom commented on #48
Over in #54, we decided to enable ui-sounds. Make it so.

[2021-04-15 22:15] pixelzoom commented on #53
4/15/21 design meeting:

@kathy would like to proceed with:
* Include only interactive UI components in the traversal order
* Ignore the amplitude NumberDisplays and keypad

Start with the Discrete screen.

Wave Game is going to be a little challenging. Components from vegas (level selection, reward dialog,...) and will need to be instrumented.

Next steps:
* Specify the traversal order.  @arouinf

[2021-04-15 22:30] pixelzoom commented on #48
Sounds for category 'user-interface' are now enabled in all versions >= 1.0.0-dev.23

Closing.

[2021-04-15 22:30] #48 closed

[2021-04-15 22:31] pixelzoom opened #55 "When sound for the Fourier series is turned on, duck all user-interface sounds."
From https://github.com/phetsims/fourier-making-waves/issues/54#issuecomment-820753954:

[2021-04-15 22:44] pixelzoom commented on #55
I looked at the ducking solution in WaveMeterNode.js.  It is very sim-specific.  When either of the meter's probes is inside the box, "the water drops, speaker or light sound" are ducked:

[code]

It was a little difficult to hear the effects of this, so I changed 0.3 to 0 in the above code, and confirmed that those sounds are totally turned off.

But the conclusion is that there is nothing here t

[2021-04-15 22:49] jbphet commented on #55
Use `soundManager.setOutputLevelForCategory` and, if needed, `soundManager.getOutputLevelForCategory`.  Heads up though: this hasn't been used much - it was created in anticipation of this sort of thing, but this is the first time it is being incorporated into a sim.

[2021-04-15 23:57] pixelzoom commented on #55
Ducking for 'user-interface' sounds has been implemented. When `fourierSeriesSoundEnabledProperty` is true, all `'user-interface' sounds are reduced to half of their perceived volume (which is 0.1 of the default output level).

We can fiddle with balancing output levels later in #54.

Closing.

[2021-04-16 00:04] pixelzoom commented on #54
user-interface sounds have been enabled in #48.

Ducking of user-interface sounds has been implemented in #55.

[2021-04-16 00:06] pixelzoom opened #56 "Sound for sliders"
This sim has the following sliders:

* Discrete: custom amplitude sliders
* Discrete: standard volume slider for Fourier series sound
* Wave Pack: 4 standard sliders in the control panel

From #54

[2021-04-16 00:09] pixelzoom commented on #56
Waves Intro adds sounds in WaveInterferenceSlider.js:

[code]

[2021-04-16 00:22] pixelzoom commented on #56
Below is the code that plays slider sounds in WaveInterferenceSlider.js.   @jbphet @samreid is this the recommended pattern?  Is this really the support that's available for Slider sound?  And the client is responsible for checking elapsed time between sounds?!?

[code]

[2021-04-16 00:45] pixelzoom commented on #54
vegas (game) components that need UI sound design are identified in https://github.com/phetsims/vegas/issues/88.

[2021-04-16 16:01] samreid commented on #56
That pattern was recommended when we worked on it in mid-2020.  @jbphet is there better common code support for this now? Should there be?

[2021-04-19 18:00] pixelzoom commented on #48
I removed the `uiSoundsEnabled` query parameter, and I'm now using the common-code `sound=muted` query parameter, along with a bookmark, to start the sim with sound initially muted.

[2021-04-22 19:42] pixelzoom commented on #53
Add `supportsInteractiveDescription=true` to play around with what's already supported for keyboard navigation.

[2021-04-22 20:22] pixelzoom commented on #54
4/22/21 design meeting @arouinfar @kathy-phet @jbphet @jessegreenberg @pixelzoom

* It's time to investigate some generalized support for sound in Slider.  What do sliders with pedagogical sounds have in common that can be supported in common code?  Is there a good default for sliders with non-pedagogical sounds? Continuous vs discrete sliders? etc. @kathy-phet would like @jbphet to work on this.

[2021-04-22 21:09] pixelzoom commented on #56
From 4/22/21 design meeting

There is currently no sound API for Slider, because most sounds were pedagogical.

Now that some sims have been instrumented, there are probably some common patterns for sound in Sliders.  @jbphet will identify those in https://github.com/phetsims/sun/issues/697 and develop a sound API for Slider, including some type of default non-pedagogical sound, like WaveInterface

[2021-04-26 21:31] pixelzoom commented on #53
I'm guessing (but not entirely certain) that we'll want to specify these options for the amplitude sliders.  Here they are, shown with their defaults as they appear in AccessibleValueHandler.js:

[code]

[2021-04-26 22:20] pixelzoom commented on #53
Slack post to a11y channel:

Chris Malley  3:08 PM
Fourier: Making Waves will support keyboard navigation for the 1.0 release, see https://github.com/phetsims/fourier-making-waves/issues/53.  We had a design meeting last Thursday, and I have a rough idea of the desired traversal order. (@arouinfar will be doing a full spec.)  Can someone point me in the right direction for implementing this featur

[2021-04-26 23:49] pixelzoom opened #57 "LevelSelectionButton icons"
Here's a screenshot of the current LevelSelectionButtons in the _Wave Game_ screen.  Are these sufficient?  Will the user know what the number means?  Should we show something instead of (or in addition to) the number, like 3 sine waves (or 3 sliders) for the level that involves 3 harmonics?

<img width="692" alt="screenshot_960" src="https://user-images.githubusercontent.com/3046552/116164787-a57

[2021-05-10 22:52] pixelzoom commented on #2
Based on the descision about "Lead designer" credits in https://github.com/phetsims/natural-selection/issues/270#issuecomment-827745710, I have changed this sim's credits to:

[2021-05-12 15:48] Ashton-Morris opened #58 "Create and implement sounds for the Vegas Buttons/ Level Selection Buttons which also may be used as defaults in other sims"
I have created 10 level selection/Vegas buttons based on the solute selection options used in Molarity. Since 10 is the highest number of buttons for "games" I have seen I created 10. They are all different from one and another but are still in the same sound family and sound like they consistently increase as the number gets higher.

Please assign anyone to this issue that you feel is needed.

Al

[2021-05-12 16:24] pixelzoom commented on #58
While these sounds are needed by Fourier, this is a general issue that belongs in vegas.  So transferring this issue from fourier-making-waves to vegas.

[2021-05-12 17:35] pixelzoom commented on #2
Over in https://github.com/phetsims/joist/issues/716#issue-890310002, we determined that the convention is to have the primary HTML5 developer first.  So the current credits:

... are appropriate.

[2021-05-17 18:32] pixelzoom opened #59 "Location of arrow buttons for spinners"
NumberSpinner lets you specify the location of its arrow buttons.  In Fourier, the spinner for setting the number harmonics puts both buttons on the right, as shown in the first screenshot below.  I've tried to compensate by exaggerating the font size, margins, and pointer areas.  But imo, the usability of this is going to be suboptimal on smaller devices.  (I find the usability to be suboptimal e

[2021-05-17 18:36] pixelzoom commented on #59
The other option is top-and-bottom, but that looks lopsided and gross, and caused layout problems with the control panel -- which is why we're not using NumberPicker.  See screenshot below.

<img width="1040" alt="screenshot_993" src="https://user-images.githubusercontent.com/3046552/118539277-7841c980-b70c-11eb-988c-8d897e03322f.png">

[2021-05-17 18:42] pixelzoom commented on #59
I don't like 'leftRight' so much for Wave Game screen. 'topBottom' might be better, combined with scaling the buttons via `arrowsScale: 0.75`.   Screenshots below show 'bothRight', 'leftRight', and 'topBottom'.

`bothRight`:
<img width="1042" alt="screenshot_996" src="https://user-images.githubusercontent.com/3046552/118539828-2483b000-b70d-11eb-9840-b53eca01b303.png">

`leftRight`:
<img width="10

[2021-05-18 01:43] pixelzoom opened #60 "Revisit buttons for Wave Game"
I wonder if the Wave Game should have a button that is the equivalent of "I give up, show me the answer".   Pressing this button would set the sliders to the correct amplitudes.  The student could still play around with the challenge, but no points would be rewarded.

Especially for some of the more complex challenges, it seems like this might be better than just having to move on to another chall

[2021-05-19 16:32] pixelzoom commented on #53
We have missed the 5/15/21 milestone.

We are currently waiting for @arouinfar to produce the design document, and discuss how to handle the measurement tools with @terracoda.

[2021-05-19 16:37] pixelzoom commented on #54
I think we can say that we met the 5/15/21 milestone.  We investigated what is needed for Fourier sound design, and identified missing pieces.  Here's what was identified:

* sound for the Fourier series, https://github.com/phetsims/fourier-making-waves/issues/45
* sound ducking, https://github.com/phetsims/fourier-making-waves/issues/55
* Slider sound design, https://github.com/phetsims/sun/issue

[2021-05-19 16:38] terracoda commented on #53
For the record, @arouinfar and @terracoda met on May 3rd, 2021.

I shared with @arouinfar why we have a two-step drag interaction for some draggable objects like the balloons in BASE, the Chemistry book in Friction, and the Bar Magnet in FL. And why we don't for the Both Hands interaction in Ratio and Proportion.

[2021-05-19 16:42] pixelzoom commented on #53
Thanks for the update @terracoda. Can @terracoda or @arouinfar please summarize the "why" that you discussed?

[2021-05-19 16:44] pixelzoom commented on #53
Thanks for the update @terracoda. Can @terracoda or @arouinfar please summarize what you discussed, and which interaction is appropriate for this sim?

[2021-05-19 17:23] terracoda commented on #53
Sure, the balloon, book and magnet objects are the main interactions for the sim. If a learner cannot explore using that object, they cannot use the sim for anything useful.

Browser support for Web Standards has improved, and continue to do so, but when I design BASE, `aria-roledescription`, which is very useful for custom interactions, was not well-supported.

I had no ability as a designer to m

[2021-05-19 19:35] pixelzoom opened #61 "Pool Vector2 to improve performance"
This sim requires a large number of points (Vector2 instances) to plot the harmonics and sum.  For the highest-frequency harmonic, at least 2000 points are needed.

The sim seems to be responsive on laptop/desktop class machines.  But there is an occassional hitch in "space & time" animation, probably due to GC.   And the main thing that is dynamically allocated is Vector2.

So... Investigate usin

[2021-05-19 19:39] pixelzoom commented on #61
`createFromPool` and `freeToPool` are the methods that I'll need to use.

I discovered that Poolable has a `maxSize` option.  When calling `freeToPool`, an instance is only returne to the pool if `pool.length < options.maxSize`.

For Vector2, `maxSize` is `100`, and there's currently no way to adjust it. That seems like an API problem - one size is not appropriate for all sims. A Vector2 pool limi

[2021-05-19 19:48] pixelzoom commented on #61
Another way to address this that does not involve pooling...  Data sets typiclly have a constant number of points, at least in the first 2 screens.  I could populate the data sets with Vector2 instances on initialization, then mutate those Vector2 instances as the Fourier series changes.  I could probably make that work with bamboo since I’m using the Canvas implementation, which requires the clie

[2021-05-20 15:28] KatieWoe opened #62 "CT: tried to make control for a non-zero harmonic invisible"
[code]

[2021-05-20 15:29] pixelzoom commented on #62
Definitely related to work that I did yesterday for the Wave Game screen.

[2021-05-20 15:55] pixelzoom commented on #62
I've only been able to reproduce this on Level 5.  Just keep pressing the Refresh button and it will fail.

[2021-05-20 16:04] pixelzoom commented on #62
The problem is in WaveGameAmplitudesChartNode.js.  In this callback:

[code]

`updateAmplitudeControlsVisibility` is being called before `numberOfAmplitudeControlsProperty` has been updated. That's handled in WaveGameChallenge.js.

[2021-05-20 20:11] pixelzoom commented on #60
This expanded to more than just a "Show Answer" button.  Here's what I recommend:

* Add a "Show Answer" button
* Combine "Next" and Refresh buttons into "New Game" button
* Add a Reset button for resetting amplitudes to zero

Screenshot below shows what this looks like in master.  For discussion at today's design meeting.

![screenshot_229](https://user-images.githubusercontent.com/3046552/119042

[2021-05-20 20:15] pixelzoom opened #63 "How does the Amplitude Controls spinner work?"
For discussion at design meeting.

Currently:
* Level 1 adds 1 zero-amplitude slider
* Levels 2,3,4 add 2 zero-amplitude slider
* Levels 5 adds 0 zero-amplitude slider

[2021-05-20 20:20] pixelzoom commented on #53
5/20/21 design meeting: @arouinfar @kathy-phet @pixelzoom

@arouinfar is working on the doc here: https://docs.google.com/document/d/1wOdmPMD704u4OLl9avI9tl2jpTvsAAcZwMaNfnr0qSs/edit?pli=1#heading=h.qbkcpoz1vzlo

[2021-05-20 20:24] pixelzoom commented on #59
5/20/21 design meeting: @arouinfar @kathy-phet @pixelzoom

Use 'leftRight' arrow buttons throughout.

[2021-05-20 20:37] pixelzoom commented on #60
5/20/21 design meeting: @arouinfar @kathy-phet @pixelzoom

* Disable "Show Answer" button until you've grabbed and move a slider N times.
* "New Game" button is always available.
*  Try eraser button instead of ResetButton, use on Discrete screen too.

[2021-05-20 20:49] pixelzoom commented on #63
5/20/21 design meeting: @arouinfar @kathy-phet @pixelzoom

* Levels 1-4, don't change Amplitude Controls spinner value if it's greater than the default value for the level
* Level 5, always show all 11 sliders

[2021-05-20 21:07] pixelzoom commented on #59
Done, closing.

[2021-05-20 21:07] #59 closed

[2021-05-20 21:50] pixelzoom commented on #63
Done, closing.

[2021-05-20 21:50] #63 closed

[2021-05-20 21:58] pixelzoom commented on #43
There will be a site visit related to a grant on June 22 & 24.  The goal is to demo the first 2 screens.

[2021-05-20 22:05] pixelzoom opened #64 "Eraser button is broken"
Steps to reproduce:

1. Start the sim, go to Wave Game screen
2. Select Level 1
3. Change an amplitude slider
4. Press eraser button - amplitudes are reset.
5. Press "New Game" button
6. Change an amplitude slider
7. Press eraser button - amplitudes are NOT reset.

[2021-05-20 22:09] pixelzoom opened #65 "After pressing "Show Answer" button, guesses are no longer evaluated"
Steps to reproduce:

1. Start the sim with `?showAnswers`, go to Wave Game screen
2. Select Level 1
3. Solve the challenge. Note that the smiley face is shown and a point is rewarded.
4. Press "Show Answers" button
5. Press "New Game" button
6. Solve the challenge. Note that there is no smiley face, and no points are rewarded.

[2021-05-20 22:14] pixelzoom commented on #60
We had some discussion about whether "New Game" was the right label for the button.  How about "New Waveform"?  The instructions are to "match the pink waveform".   @arouinfar @kathy-phet ?

[2021-05-20 22:16] pixelzoom commented on #60
@arouinfar @kathy-phet I replaced ResetButton with EraserButton, see screenshot below, test-drive in master.  Do you like this better?

![screenshot_230](https://user-images.githubusercontent.com/3046552/119055718-c19d4d80-b986-11eb-9dcb-15abbc227b9b.png)

[2021-05-20 22:39] kathy-phet commented on #60
I have a preference for the eraser, but happy to be out voted too.

[2021-05-21 16:33] pixelzoom commented on #64
Fixed in the above commit. adapterGuessFourierSeries listener needed to use the current challenge value.

[2021-05-21 16:33] #64 closed

[2021-05-21 16:34] pixelzoom commented on #65
Fixed in the above commit. adapterGuessFourierSeries listener needed to use the current challenge value.

[2021-05-21 16:34] #65 closed

[2021-05-21 16:40] pixelzoom opened #66 "Change to 1 static mutable challenge per level"
The current implementation creates challenges dynamically, and sets `{Property.<WaveGameChallenge>} challegeProperty` in WaveGameLevel. This feels like a very natural implementation, but it creates 2 implementation problems:

(1) This will be a pain point for PhET-iO instrumentation. PhetioCapsule or PhetioGroup will be needed. One static mutable challenge per level would make this pain point go a

[2021-05-21 17:04] pixelzoom commented on #62
This problem would likely go away if I switched to the implementation approach described in https://github.com/phetsims/fourier-making-waves/issues/66.

[2021-05-21 19:58] arouinfar commented on #60
Thanks, @pixelzoom. I also prefer the eraser button. Yesterday we mentioned the possibility of using a gray erase button, but I actually prefer yellow. Gray would likely be overlooked, especially next to all of the white NumberDisplays. While it's not a primary control, it is very handy, so I definitely want users to find it.

As for the button label, I like "New Waveform". It uses the same langua

[2021-05-21 20:05] arouinfar commented on #57
Ideas discussed in the 5/20/21 design meeting, with N representing the level number:

1. N amplitude sliders
2. Iconized Harmonics graph displaying N non-zero harmonics
3. Iconized Sum graph, where the sum is composed of N non-zero harmonics

I'll mock up some options.

[2021-05-21 20:24] arouinfar commented on #50
I'm happy to go with the NO EFFORT option here. The smileys and stars are fun, and I don't see a reason to mix up the proportion or number based on the level. There aren't sim-specific Nodes that would be a particularly whimsical option here, either.

[2021-05-21 20:24] #50 closed

[2021-05-21 20:41] kathy-phet commented on #60
I also like "New Waveform"!

[2021-05-21 20:59] arouinfar commented on #4
Since the Wave Game is coming along, I revisited the PhET-iO design to see if there is anything sim-specific to be mindful of. Aside from hiding/disabling UI components, I don't see any requirements that are specific to this sim.

As far as I know, there isn't any general PhET-iO infrastructure in vegas, as we've never instrumented a game (build-an-atom excludes the game).  Thinking generally abou

[2021-05-21 21:06] pixelzoom commented on #4
@arouinfar Actually, all of those bullets that you listed would need to be considered in the scope of the sim.  vegas is only a collection of UI components that can be used to assemble a game. It currently provides no "framework" for games.  Any similarity in behavior/flow between PhET sims is not provided by vegas, it's due to sims implementing similar behavior/flow.

[2021-05-21 21:31] arouinfar commented on #45
I agree with @jbphet here. The default output level seems a bit high.  It's not too bad at the default configuration (A1 = 1, everything else = 0). The volume is perhaps slightly louder than other UI components like the ResetAllButton or ComboBox. However, once you start adding in more harmonics it can quickly become pretty loud at outputLevel = 0.25. Starting at outputLevel = 0.1 sounds much bett

[2021-05-21 22:02] arouinfar commented on #53
Thanks for the summary @terracoda! For now, I think it makes the most sense to skip the grab button. When it comes time to design the descriptions, we can reevaluate.

@pixelzoom I updated the focus order in the linked table to include the erase button and the updated layout on the Game screen.

We also need to specify step sizes for the sliders and NumberSpinners. I reviewed the mass controls in

[2021-05-21 22:06] arouinfar commented on #4
Good to know @pixelzoom. Do you think it would be helpful to discuss more at a design meeting? We're not including the phet-io-brand in the 1.0 release, but I don't know if there is anything that should be considered now.

[2021-05-21 22:55] pixelzoom commented on #4
Imo, instrumenting a game is long overdue. But it's not my call when this should be discussed or investigated.

On 5/18/2017 (4 years ago), @samreid wrote in  https://github.com/phetsims/phet-io/issues/1137#issuecomment-302597073

And it looks like an attempt to instrument the game screen in Build an Atom didn't go smoothly. In https://github.com/phetsims/build-an-atom/issues/156#issuecomment-5864

[2021-05-24 20:13] pixelzoom commented on #60
- [ ] Rename 'New Game' to 'New Waveform'

[2021-05-24 20:17] pixelzoom commented on #60
All of the change requests have been implemented.  Here's a summary:

* use EraserButton instead of RestButton
* add EraserButton to Discrete screen
* rename 'New Game' to 'New Waveform' button
* start each challenge with 'Show Answer' button disabled, enable after the user has interacted with the Amplitudes chart N times.  And interaction is a press on a Slider ro NumberDisplay.   N is currently

[2021-05-24 23:00] pixelzoom commented on #66
I decided to go ahead with this, see the above commit.  Instead of a `{Property.<WaveGameChallenge>} challegeProperty`, we now 2 static instances of Fourier series in WaveGameLevel.js:

[code]

Design-wise, this feels a little less natural.  And it's definitely a different approach than I've used in other game screens.  But I think it positions things better for PhET-iO.

Closing.

[2021-05-24 23:00] #66 closed

[2021-05-24 23:09] pixelzoom commented on #62
This is no longer failing after addressing #66.  But it's still an ordering issue.

[2021-05-25 15:38] pixelzoom opened #67 "CT: value failed isValidValue"
Looks like this started around 5/24/2021 @ 5:17pm.

`?ea&brand=phet-io&phetioStandalone`

[code]

[2021-05-26 12:40] pixelzoom commented on #62
Still failing:

[code]

[2021-05-26 12:42] pixelzoom commented on #67
The value `3` is apparently not significant:

[code]

[2021-05-26 13:00] pixelzoom commented on #67
This is failing in WaveGameLevel.js as `amplitudesProperty` goes through intermediate states.

[2021-05-26 13:24] pixelzoom commented on #67
Fixed in the above commit. Closing.

[2021-05-26 13:24] #67 closed

[2021-05-26 18:57] pixelzoom commented on #49
@arouinfar The _Wave Game_ screen is feature complete, and ready for view.  Let me know if there's anything that you'd like to change.

Notes:
* See other requirements for review in https://github.com/phetsims/fourier-making-waves/issues/60.
* I added a `rewardScore` query parameter, public-facing, so that the score required to get the reward can be changed.  Default is 10.
* You may find it usefu

[2021-05-26 19:11] pixelzoom commented on #62
I ended up deleting this assertion, because it's not really necessary.   And there are 2 Properties involved that both potentially change when the challenge changes, so there's going to be an intermediate state.

Closing.

[2021-05-26 19:11] #62 closed

[2021-05-27 21:33] pixelzoom commented on #53
@arouinfar Can you please put this information in the design doc? https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-846284868

[2021-05-27 21:35] pixelzoom commented on #53
@arouinfar I see this in the design doc, in the Focus Order column of _Table: Discrete Screen Outline_:

I don't know how to interpret this. Please provide more description/clarification.

[2021-05-27 21:50] pixelzoom commented on #53
@arouinfar Looking at other code that supports keyboard navigation, it looks like we need to decide what to connect to the "play area" vs "control panel".  For example, in greenhouse-effect MicroScreenView.js:

[code]

I don't see this information specified in the design doc.

Raising priority to high.

[2021-05-27 22:35] pixelzoom commented on #53
@arouinfar I recall a discussion where we speculated that we could ignore "play area" vs "control panel" for now, because we're not doing interactive descriptions.   Well, each screen has 2 top-level Nodes, named `pdomPlayAreaNode` and `pdomControlAreaNode`.  And traveral order can only be set on those Nodes, not on the screen's ScreenView (top-level Node).   So I can either put everything under (

[2021-05-27 22:41] pixelzoom commented on #53
@jessegreenberg pointed out that we've been using "interactive description" incorrectly during this design process.  The definition is at https://github.com/phetsims/phet-info/blob/master/doc/interactive-description-technical-guide.md#what-does-interactive-description-mean, and it includes 3 components:
* State Description
* Responsive Description
* Alternative Input (including keyboard)

Relevant

[2021-05-27 23:26] pixelzoom commented on #53
With the exception of the measurement tools, the traversal order for the Discrete screen is implemented in the above commit.

[2021-05-27 23:30] pixelzoom commented on #53
@arouinfar In Wave Game screen, where do you want the Info button in the traversal order? (appears on the level-selection UI))

[2021-05-27 23:37] pixelzoom commented on #53
The traversal order for the Wave Game screen is implemented in the above 2 commits.

[2021-05-27 23:41] pixelzoom commented on #53
TODO:

- [ ] support for measurement tools
- [ ] step options for spinners

[2021-05-28 00:02] pixelzoom commented on #53
- [ ] Here's a problem to be solved:

1. Go to the Wave Game screen.
2. Tab to the Level 1 button, press spacebar. This animated to Level 1.
3. Press tab. Focus now goes to the navigation bar, instead of to the Back button in the status bar.

Investigate what's going on with TransitionNode, which handles the transition animation.

[2021-05-28 00:08] pixelzoom commented on #53
Today's spring on traversal order went very well. Thanks @jessegreenberg for answering lots of questions on Slack.  There are still many things to be done for this issue (see checklist items above), but I'm confident that I can move on to implementation of the _Continuous_ screen.

[2021-05-28 18:50] pixelzoom commented on #53
I'm going to rename this issue because we're doing more than "keyboard navigation" here. What we're actually doing is:
* specifiying traversal order, which is relevant for all forms of alternative input (including keyboard)
* implementing alternative input when an element has focus

[2021-06-01 17:52] pixelzoom commented on #53
@arouinfar The amplitude step sizes that you've specified in https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-846284868 has a fundamental problem.  Users who are not using mouse/touch/keyboard will not be able to reach values that are increments of 0.05.  They will be restricted to 0.1 increments.  This may be OK for now, since keyboard is currently the primary form of input

[2021-06-01 18:06] pixelzoom commented on #44
In a recent design meeting, @kathy-phet said that it would be nice to have the screen icons done for the site visit related to a grant on June 22 & 24, 2021.    I'll need a specification by 6/15 to make that happen.

[2021-06-01 18:37] pixelzoom commented on #53
In https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-846284868, @arouinfar said:

The step API for NumberSpinner currently does not support bigger steps. And in general, it looks like that API needs work, see https://github.com/phetsims/sun/issues/704.   Since I'm going to skip this feature for Fourier.

[2021-06-01 19:02] pixelzoom commented on #53
In https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-844311670, @terracoda said:

In master, Coulomb's Law has been changed to use the grab-&-drag model.  So I can't use this as an example.

@jessegreenberg identified ProportionalDragHandle in area-model-common as a possible example. The general idea is to create a KeyboardDragListener and add it to the Node with addInputList

[2021-06-01 20:34] pixelzoom commented on #53
- [ ] @arouinfar should this sim have a keyboard help dialog?

[2021-06-01 21:17] pixelzoom commented on #53
Slack:

So I added general keyboard help to each screen, as shown below.

- [ ] @arouinfar should this sim have anything sim-specific in the keyboard help dialogs?  There is a dialog per screen.

<img width="505" alt="screenshot_1006" src="https://user-images.githubusercontent.com/3046552/120391598-81c25880-c2ec-11eb-8e04-df42fe97fe94.png">

[2021-06-01 21:22] pixelzoom commented on #53
FYI... `supportsInteractiveDescription` is now enabled in package.json.  You don't need to use the query parameter.

[2021-06-03 00:55] pixelzoom commented on #30
This is now implemented for the Continuous screen.  So ready for review by @arouinfar.   I think the symbols dialog for the Discrete screen is pretty solid.  I'm less sure about the Continuous screen.

[2021-06-03 00:57] pixelzoom commented on #49
It would be really good to get this reviewed while it's still fresh in my mind.  Things are already getting fuzzy, since I'm now deep into alternative input and Continuous screen.

[2021-06-07 16:05] pixelzoom opened #68 "Discrete screen review"
The Discrete screen is feature-complete.  Please review at your earliest convenience, and specify any change requests.

[2021-06-07 16:06] pixelzoom opened #69 "Wave Game screen review"
The Wave Game screen is feature-complete.  Please review at your earliest convenience, and specify any change requests.

Requirements appear in the design doc, https://github.com/phetsims/fourier-making-waves/issues/50, and https://github.com/phetsims/fourier-making-waves/issues/60.

[2021-06-07 16:07] pixelzoom commented on #61
I'm thinking that we might want to use pooling only for the Discrete screen, when domain is "space & time".  That's the only case where there's animaton, and any perceptible issue with GC.

[2021-06-07 16:09] pixelzoom commented on #60
Folding review for this issue into https://github.com/phetsims/fourier-making-waves/issues/69. Closing.

[2021-06-07 16:09] #60 closed

[2021-06-07 16:09] pixelzoom commented on #49
Folding review for this issue into https://github.com/phetsims/fourier-making-waves/issues/69. Closing.

[2021-06-07 16:09] #49 closed

[2021-06-07 16:10] pixelzoom commented on #44
Raising priority to high, since I need this in 8 days at the latest.

[2021-06-07 16:11] pixelzoom commented on #53
Removing "priority high" label, since I figured out how to avoid addressing "play area" and "control area'.   We may still want to visit that question, but it doesn't seem to be a hard requirement.

[2021-06-07 16:50] pixelzoom commented on #53
Zoom design meeting @arouinfar and @pixelzoom

* @arouinfar will make a first pass at splitting traversal into "play area" and "control area".  Even though we had considered not doing this for 1.0, the implementation of ScreenView makes it clear that the intent in to add Nodes to playArea or controlArea, and NOT to the ScreenView.  This is going to be tricky for Wave Game screen, related to https:

[2021-06-07 17:48] pixelzoom opened #70 "Requests for site visit?"
There is a site visit for the grant on June 22 and 24.   @arouinfar and I were talking, and realized that we're each out a significant part of June, and our schedules do not overlap.   So we'll probably need to be ready for that visit by June 13 (in 1 week).  @kathy-phet If there's anything that you'd like for the site visit, please let us know asap.

[2021-06-07 17:50] kathy-phet commented on #70
OK. Let me check on what is needed.

[2021-06-07 17:51] kathy-phet commented on #70
Screen icons would be nice to have.

[2021-06-07 18:03] kathy-phet commented on #70
I heard back, and the site visit was postponed until August so no immediate needs for this and continue working towards feature complete version.

[2021-06-07 18:04] pixelzoom commented on #44
In https://github.com/phetsims/fourier-making-waves/issues/44#issuecomment-852337293, @kathy-phet noted that the site visit has been moved to August.  So removing high-priority label.

[2021-06-07 18:04] pixelzoom commented on #70
Do you have dates for August?

[2021-06-07 18:46] pixelzoom opened #71 "Is "Continuous" a good screen name?"
For the HTML5 version, the 3rd screen name was shortened from "Discrete to Continuous" to "Continous".   While reading the [Java version design document](https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Ffourier%2Fdoc%2FFourier_Design_Outline.pdf&commit=75224), I began to wonder if something has been lost with this name change.   Th

[2021-06-07 18:53] pixelzoom commented on #44
Here are my (rough) suggestions for screen icons.

Discrete:

<img width="206" alt="screenshot_1011" src="https://user-images.githubusercontent.com/3046552/121072742-d18e9d00-c78e-11eb-83a4-6cdf697ee01b.png">

Wave Game:

<img width="150" alt="screenshot_1012" src="https://user-images.githubusercontent.com/3046552/121073054-4cf04e80-c78f-11eb-85d6-e87acfdb23e2.png">

Continuous:

<img width="169"

[2021-06-07 19:21] pixelzoom commented on #44
Because they were quick/easy to do programmatically, I pushed icons for the Discrete and Wave Game screens, test-drive in master.  Screenshot:

<img width="1193" alt="screenshot_1015" src="https://user-images.githubusercontent.com/3046552/121076078-364bf680-c793-11eb-86cf-291507fa2b6d.png">

[2021-06-07 19:35] pixelzoom commented on #44
I also added an icon for the Continous screen, see screenshot below.  I created this icon by hiding the chart rectangle, ticks, etc. in the Discrete screen, increasing the lineWidth for the Sum chart, setting Waveform="wave packet", then taking a screenshot. This required adding a file to fourier-making-waves/images/, so I'll need to remember to delete it if it's not used.

<img width="1190" alt="

[2021-06-07 19:45] pixelzoom commented on #71
I see that I asked about this in design document comments:

But I still think this is worth discussing again, because "Continuous" doesn't really convey "mapping between Fourier and Wave Packet".

[2021-06-07 19:49] pixelzoom opened #72 "Wave Packet screen - design questions"
The design document section for the Continuous screen has not been fleshed out:

<img width="703" alt="screenshot_1018" src="https://user-images.githubusercontent.com/3046552/121078888-b6c02680-c796-11eb-8727-9b9ae584b916.png">

As I started on the Continous screen, I was a little surprised to see this, because PhET typically treats a port to HTML5 as an opportunity to improve and update the sim.

[2021-06-07 20:13] pixelzoom commented on #72
- [ ] The control panel is too tall for the available space.  I've addressed that by moving the "Continuous Waveform" and "Envelope" checkboxes out of the control panel, and putting them below the charts that they are related to.  This is similar to what we did in Discrete screen for "Auto Scale" and "Infinite Harmonics" checkboxes. Is this OK?

- [ ] The Java version had a checkbox whose labeled

[2021-06-07 23:25] pixelzoom commented on #72
- [ ] Do you want the "Minimize graph to improve performance" label on the Components charts?

- [ ] What do you want to do for the Components chart when component spacing is zero? (infinitie number of components). Do you want to hide the chart and display a message "Cannot show infinite number of harmonics" like the Java version?

[2021-06-08 00:04] pixelzoom opened #73 "Assertion failed: transformSourceNode cannot use DAG, must have single trail."
To reproduce:

1. Go to any of the 3 screens
2. Tab until you get to the navigation bar.
3. When tab from the Discrete navbar icon to the Wave Game navbar icon, this Error occurs:

[code]

The problem appears to be with the icon created by `createHomeScreenIcon` in DiscreteScreen.js.  As far as I can tell, I'm not using any DAG features here, so I've been unable to figure out what is causing this.

[2021-06-08 00:08] pixelzoom commented on #73
Note that this icon contains some actual sliders, instantiated in `createHomeScreenIcon`:

[code]

But ScreenIcon sets its iconNode to `pickable:false`, so my expectation is that these sliders will not affect the default pDomOrder of this icon.

[2021-06-08 00:16] pixelzoom commented on #73
I modified FocusHighlightPath to identify "transformSourceNode":

[code]

... and the error message is:

[code]

GrippyThumb is the custom thumb for AmplitudeSlider.  No idea why it's causing this error, or why it's apparently being traversed.   Is something that is `pickable: false` still traversed?  How do I tell PDOM **NOT** to traverse its `iconNode` argument?

[2021-06-08 00:21] pixelzoom commented on #73
I tried explicitly setting `pDomOrder` on the `iconNode` passed to ScreenIcon:

[code]

... but that changed nothing.

[2021-06-08 00:28] pixelzoom commented on #73
Wild guess, I tried creating my sliders with `focusable: false`:

[code]

... and that fixes the problem.

I also tried setting `focusable: false` on the entire iconNode:

[code]

... and that does NOT fix the problem.  Apparently settting a parent Node to `focusable: false` does not prevent its children from getting focus, not at all what I expected.

Two questions:

(1) I frequently create icons

[2021-06-08 16:16] pixelzoom opened #74 "CT: There already was a PhetioElement attached to this TreeNode with the same phetioID in the tree"
[code]

[2021-06-08 16:18] #74 closed

[2021-06-08 17:03] kathy-phet commented on #70
Heard back. It's August 24.

[2021-06-08 17:19] pixelzoom commented on #43
In https://github.com/phetsims/fourier-making-waves/issues/70#issuecomment-856939887, @kathy-phet said that the site visit has been moved to August 24.

[2021-06-08 20:15] pixelzoom commented on #53
I discussed with @jessegreenberg on Zoom.

accessibleName is the option to use.  innerContent is older style, and could be replaced by accessibleName.

He doesn't feel like this would be a big win. The sim will not be promoted publically as having "labels only" (there's no icon for that).   For some things like eraser button and info button, it's not clear whether to "label" or "describe".

[2021-06-08 20:43] terracoda commented on #53
Hmm, I feel there could be some big wins actually by adding accessibleName. That is, if the implementation time is not particularly heavy.

- Team win 1 - the team starts thinking about  accessible object names as they are designing the visual sim. I think this is actually a huge win. @arouinfar is already thinking about accessleNames for this sim.
- Team win 2 - devs get to understand more of the

[2021-06-08 22:06] pixelzoom commented on #7
Checking in on this issue, now that the Discrete and Wave Game screens are feature complete.

This feature is highly problematic in all 3 screens.

In the Discrete screen, this feature is problematic at best. The Harmonics spinner controls which harmonics are visible. And computing the sum does not (and cannot) take visibility into account. If a harmonic is non-zero, it's going to affect the sum,

[2021-06-08 22:20] pixelzoom commented on #70
I'm going to close this issue.  I'll open a new issue (if needed) when we get closer to the new August date.

[2021-06-08 22:20] #70 closed

[2021-06-09 16:28] pixelzoom opened #75 "CT: iframe api failed"
This error occurred for 3 consecutive CT cycles on 6/8/2021, then it went away.  No idea why it might have occurred, but I'm recording it here in case it wasn't a transient problem.  I will wait to investigate.

[code]

[2021-06-09 20:10] pixelzoom opened #76 "Specify "play area" and "control area" for each screen"
From https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-856099325:

- [ ] @arouinfar will make a first pass at splitting traversal into "play area" and "control area". Even though we had considered not doing this for 1.0, the implementation of ScreenView makes it clear that the intent in to add Nodes to playArea or controlArea, and NOT to the ScreenView. This is going to be tr

[2021-06-09 20:12] pixelzoom commented on #53
For 6/10/2021 design meeting, discuss the checklist items in these comments:

* https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-849985623
* https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-852328727
* https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-856099325
* https://github.com/phetsims/fourier-making-waves/issues/53#issuecomm

[2021-06-09 20:56] pixelzoom commented on #68
Please include keyboard navigation in your review.  Everything requested in https://github.com/phetsims/fourier-making-waves/issues/53 for this screen has been implemented.

[2021-06-09 20:56] pixelzoom commented on #69
Please include keyboard navigation in your review.  Everything requested in https://github.com/phetsims/fourier-making-waves/issues/53 for this screen has been implemented.

[2021-06-09 21:18] pixelzoom commented on #30
I discovered another symbol in the Continuous screen. In the Java version, set component spacing to 0, and you'll see this equation above the Sum chart:

<img width="303" alt="screenshot_1021" src="https://user-images.githubusercontent.com/3046552/121430860-e2c5de00-c935-11eb-8622-743fab431227.png">

Should "d" be described in the symbol dialog? Should it use normal or italic font style?

[2021-06-09 21:19] pixelzoom opened #77 ""d" symbol"
Related to https://github.com/phetsims/fourier-making-waves/issues/15 (translation and display of symbols)....

I discovered another symbol in the Continuous screen. In the Java version, set component spacing to 0, and you'll see this equation above the Sum chart:

<img width="303" alt="screenshot_1021" src="https://user-images.githubusercontent.com/3046552/121430860-e2c5de00-c935-11eb-8622-743fab

[2021-06-10 03:58] jessegreenberg commented on #73
I worked on this today, and https://github.com/phetsims/scenery/issues/1235 was the result.

I confirmed that DAG is being used in this case by joist for the ScreenIcon and HomeScreenButton:
<details>

![image](https://user-images.githubusercontent.com/6396244/121445075-bd00ff00-c95e-11eb-9639-94a82ca67b11.png)
</details>

There is a feature of focus highlights where you can create a focus highlig

[2021-06-10 16:14] pixelzoom commented on #73
Thanks @jessegreenberg.  The joist fix looks good, and thanks for removing the Fourier workaround.  And thanks for the nice explanation of what was going on - I now understand the "odd" behavior, and it makes sense to me.

We're likely to run into this in other places. For example, any checkbox or button might have "content" that was programmatically created from focusable UI components.   What do

[2021-06-10 19:01] arouinfar commented on #77
The d is a differential, and it means that the integral is being evaluated with respect to k. It's mathematical notation (a bit like the integral symbol) so don't think it needs anything specific in the symbols dialog. Looking at an example in Wolfram Alpha, the differential d should be italicized:
![image](https://user-images.githubusercontent.com/8419308/121582148-e7e56480-c9eb-11eb-8fac-f69e31a

[2021-06-10 19:05] arouinfar commented on #71
"Wave Packet" is great! Thanks for the suggestion @pixelzoom. Leaving tagged for design meeting to make sure @kathy-phet also likes it.

[2021-06-10 19:12] pixelzoom commented on #77
Thanks @arouinfar, I should have been more specific.  I knew what "d" means, I wasn't sure if we needed to include it with symbols, what "style" should be used for display, etc.  But you answered the questions, I believe.  I will not include it in the symbols dialog, and I'll use the italic font.

[2021-06-10 19:16] arouinfar commented on #44
@pixelzoom the screen icons are awesome!

For Wave Game, I might instead want to go with your other suggestion in https://github.com/phetsims/fourier-making-waves/issues/44#issuecomment-856178630 since it has a bit more context.

Perhaps a magenta wave on iconic axes like the Continuous icon with a +1 star on top. Here are some ideas for the magenta wave:

A3 = 1, A4 = -1
![image](https://user-ima

[2021-06-10 19:20] pixelzoom commented on #77
Done in the above commit, screenshot below. Closing.

<img width="250" alt="screenshot_1022" src="https://user-images.githubusercontent.com/3046552/121584270-8c68a600-c9ee-11eb-806c-9b3910dc5316.png">

[2021-06-10 21:10] pixelzoom commented on #76
6/10/21 design meeting: @arouinfar @kathy-phet @jessegreenberg @KatieWoe

- JG says this will be technically more difficult than accessibleNames, CM agrees (especially Wave Game)
- Whatever we do will need to be revisited for interactive description.
- We could put just TimeControlNode and ResetAllButton in controlArea for Discrete and Continuous screen, but that doesn't really give us anything.
-

[2021-06-10 21:10] #76 closed

[2021-06-10 21:11] pixelzoom commented on #71
6/10/21 design meeting:

Everyone likes "Wave Packet". I will make it so.

[2021-06-10 21:12] pixelzoom commented on #44
6/10/21 design meeting: @arouinfar @kathy-phet @pixelzoom @KatieWoe

Discrete and Continuous icons are good as is.

Wave Game icon: use +1 star, with a pink waveform behind it from Level 2.

[2021-06-10 21:15] pixelzoom commented on #43
6/10/21 design meeting: @arouinfar @kathy-phet @pixelzoom @KatieWoe

Revised milestones:
* feature complete for 8/24/21 site visit
* QA starts in early September
* published by 9/30/21

[2021-06-10 21:24] pixelzoom commented on #53
6/10/21 Fourier design meeting: @arouinfar @kathy-phet @jessegreenberg @KatieWoe @pixelzoom

Notes and decisions were added to above checklist items, see "DECISION" comments.

Summary:
* In general, no work will be done on features related to screen reader for 1.0 release
* No accessibleNames for 1.0 release
* No play area and control area for 1.0 release
* Slider is working well enough for 1.0 re

[2021-06-10 21:26] pixelzoom commented on #53
Alternative input support is done for Discrete and Wave Game screens.

Remaining tasks for Continuous screen:

- [ ] Specify keyboard steps for sliders
- [ ] Specify pdomOrder (I'll start with "similar to Discrete screen")

[2021-06-10 21:30] pixelzoom opened #78 ""Harmonic" vs "Component""
Related to https://github.com/phetsims/fourier-making-waves/issues/72 ...

We're not sure why the Discrete screen uses "Harmonic" while the Continuous screen users "Component".  We're considering changing to "Harmonic" in the Continuous screen.   I couldn't find anything in the Java design doc related to this, and that doc uses the 2 terms interchangeably when describing all screens.

@arouinfar w

[2021-06-10 21:37] pixelzoom opened #79 "Are values in the Continuous control panel labeled properly?"
From https://github.com/phetsims/fourier-making-waves/issues/72#issuecomment-856223419, for the Continuous screen:

This applies to all 4 sliders.

@arouinfar will investigate.

[2021-06-10 21:40] pixelzoom opened #80 "Use NumberControl?"
From https://github.com/phetsims/fourier-making-waves/issues/72#issuecomment-856223419, related to the Continuous screen:

[2021-06-10 22:50] pixelzoom commented on #71
Rename completed in the above commits. Closing.

[2021-06-10 22:50] #71 closed

[2021-06-10 22:51] pixelzoom commented on #72
Continous screen was renamed Wave Packet in #71, so adjusting the title of this issue.

[2021-06-10 22:52] pixelzoom opened #81 "Reorganize the control panel in Wave Packet screen."
From 6/10/21 design-meeting in https://github.com/phetsims/fourier-making-waves/issues/72#issuecomment-856223419:

Here's what the control panel looked like in [1.0.0-dev.28](https://phet-dev.colorado.edu/html/fourier-making-waves/1.0.0-dev.28/phet/fourier-making-waves_en_phet.html):

<img width="1066" alt="screenshot_1052" src="https://user-images.githubusercontent.com/3046552/124840650-b3ac8780-

[2021-06-10 22:54] pixelzoom commented on #72
6/10/21 design meeting: @arouinfar @kathy-phet @KatieWoe @pixelzoom

See "DECISION" edits in https://github.com/phetsims/fourier-making-waves/issues/72#issuecomment-856223419 for decisions that were made during design meeting.

[2021-06-10 22:58] pixelzoom commented on #72
All of these questions have been answered, or moved to a new issue for followup.

All of the change requests have also been completed, or moved to a new issue for further work.

If I have additional questions about this screen, I'll open new issues.

Closing.

[2021-06-10 22:58] #72 closed

[2021-06-11 00:09] pixelzoom commented on #44
As a first step, I replace the PhET girl with "+1 star", see screenshot below, test-drive in master. This only took ~1 minute, and looks very clean to me.  Adding a pink waveform behind this is going to take ~30 minutes, and I'm afraid that it will make the icon kind of noisy, especially in the navbar.   @arouinfar what do you think? Do we need the pink waveform?

<img width="774" alt="screenshot_

[2021-06-11 12:49] terracoda commented on #53
I am not sure if NumberDisplay is the same component as I've seen in the Arithmetic simulation, but I think it might be. I think it is an interface component that allows a learner to touch or click numbers in order to enter values into a textbox in the sim.

I agree if a learner can get to those discrete values right on the slider using the leyboard, they do not need to have access to the NumberDi

[2021-06-11 14:49] pixelzoom commented on #53
NumberDisplay is a display only. It is not interactive.  In Fourier, I've added a mouse/touch listener (PressListener) that open a keypad.  There is currently no support for this in common-code, and it must be done on a sim-specific basic.  Adding keyboard support to open a keypad would involve more sim-specific work, as described in https://github.com/phetsims/fourier-making-waves/issues/53#issue

[2021-06-11 14:59] pixelzoom commented on #53
Thinking about this more... NumberDisplay is (or should be) used as a subcomponet on many other UI components: NumberControl, NumberSpinner,...    It would be nice to have keypad entry as an option for those controls.  And making keypad entry an option to NumberDisplay would make that easier.  Having to choose between NumberDisplay and (e.g.) InteractiveNumberDisplay  would be more complicated pro

[2021-06-11 17:54] arouinfar commented on #79
@pixelzoom I had to remind myself about the meaning of the wavenumber, k. It is the spatial frequency of a wave, measured in radians per unit distance. The wavenumber appears in the argument of the sine or cosine, such as Asin(kx),  so rad/m makes sense.

The entry for k in the Symbols dialog should have units. Since the dialog is still up for review in #30, I'll add my comments there and close th

[2021-06-11 17:54] #79 closed

[2021-06-11 17:54] arouinfar commented on #30
There's currently a mix of abbreviated (Hz) and spelled-out units. Given the target audience, we could probably abbreviate them all.

"Width" is a bit tricky when talking about Gaussians. There is no one width, as it varies with height. Depending on your field, you may be interested in the full width at half maximum (FWHM) or 1/e<sup>2</sup> of the max (used for laser beam diameter). Regardless, t

[2021-06-11 18:04] arouinfar commented on #44
@pixelzoom I agree, I think the pink waveform will muddy the icon. The +1 star is very clear and will read well in the navbar. Let's leave it as-is, closing.

[2021-06-11 18:04] #44 closed

[2021-06-11 18:09] arouinfar commented on #18
@pixelzoom I wonder if the large amplitude occurs because we're using a slightly different definition of k (extra factor of 2pi). I found this in the Teacher Tips:
![image](https://user-images.githubusercontent.com/8419308/121730883-7b329e80-caad-11eb-9773-50810d0de052.png)

[2021-06-11 19:46] pixelzoom commented on #30
Change requests completed, back to @arouinfar for review in master.

Re this request:

I'm assuming that you did not include units here because they vary depending on domain (rad/m or rad/ms).  If you'd like me to add units, let me know.

[2021-06-11 23:16] arouinfar opened #82 "Items for Teacher Tips"
Things to document in the Teacher Tips:

- [x] Harmonic vs. Component - #78
  - [x] Clarify that the components in the Wave Packet screen are terms in the Fourier series
- [x] Game requires exact answers - #97
- [x] Query parameter table: `gameLevels`, `rewardScore`, `screens`, `supportsPanAndZoom`, `audio` (values `enabled`, `disabled`, `muted`)
- [x] Components on the Wave Packet screen appear a

[2021-06-11 23:18] arouinfar commented on #78
The terms "harmonic" and "component" aren't quite interchangeable.  In general, a component is a term in a Fourier series. On the Discrete Screen, the series presented is a harmonic series - each component in the series has a frequency that is an integer multiple of the fundamental, f<sub>1</sub>. However, on the Wave Packet screen, the terms displayed in the Components graph are not harmonics sin

[2021-06-11 23:18] #78 closed

[2021-06-11 23:21] arouinfar commented on #30
Looks good in master, thanks @pixelzoom.

Correct. I'd prefer to keep the sigma entry general so it can apply to both σ<sub>k</sub> and σ<sub>x</sub>.

[2021-06-11 23:21] #30 closed

[2021-06-12 16:19] pixelzoom commented on #18
I'm not sure how to apply this observation to the Discrete screen.  The equation there has nothing to do with k. It involves n, where n is harmonic order, [0,1,2,...].

[2021-06-14 17:57] pixelzoom commented on #56
Common-code work for Slider sound is being done by @jbphet in phetsims/sun#697.

Fourier currently has a sim-specific implementation of Slider sound, with behavior identical to Waves Intro.  As the thumb is moved (with mouse, touch, or keyboard), there are discrete "tick" sounds. At the min/max there is a specific sound. And there is no sound when the value is changed by clicking on the track (a d

[2021-06-14 20:26] pixelzoom commented on #57
@arouinfar this is ready for review.   Screenshot below.  The goal was to keep the text size the same, keep the x-axis in the same location, and (necessarily) scale down the sliders to fit the width.

Some deviations from the design requirments, and notes on the implementation:

* Contrary to our Slack discussion, I did include the level number in the icon.  An amplitude slider must have a symmetr

[2021-06-14 20:37] pixelzoom commented on #45
@jbphet and I had a Zoom meeting related to Fourier sound today.  We noticed a couple of things related to this issue.

First, soundManger.js already adds a limiter to the master output:

[code]

Second, adding harmonics should be expected to increase the output level. So trying to main a uniform output level is probably not desirable from a pedagogical standpoint.  So I'm going to lower the per-h

[2021-06-14 22:17] pixelzoom commented on #45
Done in the above commit.  It sounds much better to my ear.  I tried to compare output levels to what was reported in https://github.com/phetsims/fourier-making-waves/issues/45#issuecomment-810640814, but PeakDetectorAudioNode was crashing for me (macOS + Chrome + Safari).  @jbphet is going to have a look.

[2021-06-14 22:24] pixelzoom opened #83 "Specify keyboard steps for sliders in the Wave Packet screen."
Related to https://github.com/phetsims/fourier-making-waves/issues/53.

Specify keyboard steps for sliders in the Wave Packet screen, document in https://docs.google.com/document/d/1wOdmPMD704u4OLl9avI9tl2jpTvsAAcZwMaNfnr0qSs/edit?pli=1#heading=h.qbkcpoz1vzlo.

[2021-06-14 22:26] pixelzoom opened #84 "Specify traversal order (pdomOrder) for the Wave Packet screen"
Related to https://github.com/phetsims/fourier-making-waves/issues/53.

Specify traversal order (pdomOrder) for the Wave Packet screen, document in https://docs.google.com/document/d/1wOdmPMD704u4OLl9avI9tl2jpTvsAAcZwMaNfnr0qSs/edit?pli=1#heading=h.qbkcpoz1vzlo.

I'll start by making it similar to the Discrete screen.

[2021-06-14 22:51] pixelzoom commented on #45
@jbphet and I had a Zoom call. We couldn't get PeakDetectorAudioNode to work on macOS, so @jbphet ran it on his Win machine.  With the configuration shown in https://github.com/phetsims/fourier-making-waves/issues/45#issuecomment-810640814, @jbphet previously reported peak=5.33. With my improvements, peak=0.24.  And with all 11 amplitudes set to 1.5 (max), and the audio slider at max, the peak was

[2021-06-14 22:59] pixelzoom commented on #45
@jbphet also noticed another subtle issue, which I was not aware of.  If a SoundGenerator output level is changed while sound is off, the output level is not immediately changed. And the next time it is turned on, you will briefly hear the old (stale) output level.  To reproduce this:

1. Go to the Discrete screen
2. Set all amplitudes to 1.5
3. Turn on Fourier series audio
4. Press the Reset All

[2021-06-14 23:05] pixelzoom opened #85 "Update a11y design doc?"
From https://github.com/phetsims/fourier-making-waves/issues/53#issuecomment-849956718:

I don't know how important it is to keep this design document up-to-date, but I think we've made a number of decisions/changes in https://github.com/phetsims/fourier-making-waves/issues/53 that are different. Will this be confusing when work on Interactive Descriptions is resumed in the future? Will this same

[2021-06-14 23:07] pixelzoom commented on #53
I've converted all remaining checklist items to individual GitHub issues.

So this issue can be closed.

[2021-06-14 23:07] #53 closed

[2021-06-14 23:34] pixelzoom commented on #75
This never occurred again.  So I'm guessing that something in PhET-iO was temporarily broke, then fixed.

Closing.

[2021-06-14 23:34] #75 closed

[2021-06-15 01:33] pixelzoom commented on #81
I made a first attempt at this, see below.  It's still a bit of a cramped mess, too much going on for the amount of vertical space available. I have some ideas for improving it.

<img width="786" alt="screenshot_1027" src="https://user-images.githubusercontent.com/3046552/121979371-48a3d280-cd47-11eb-8b53-8b5614127d46.png">

[2021-06-15 15:02] pixelzoom opened #86 "Wave Packet screen features"
This issue is a list of features to be implemented for the Wave Packet screen.  This is mainly for my benefit, but other team members can have a look to see which features of the Wave Packet screen have been completed.

## Model
- [x] components (wave number & amplitude)
- [x] component spacing
- [x] wave packet: center
- [x] wave packet: standard deviation & conjugate
- [x] wave packet: width

##

[2021-06-15 18:34] pixelzoom commented on #18
Here's a summary of  where we're at with the Wave Packet equation for the _Discrete_ screen.

The model is currently using hardcode amplitudes, from this array, where `numberOfHarmonics - 1` is the index into the array. This is the same array used in the Java version.

[code]

For 11 harmonics, we use the last entry in the array:

[code]

... and it looks like this in the sim:

<img width="810" al

[2021-06-15 20:05] pixelzoom commented on #84
@arouinfar I've implemented pdomOrder for the Wave Packet screen, so you may want to start by test-driving master.  Then let me know what you'd like to change.

[2021-06-15 20:27] pixelzoom commented on #83
@arouinfar In the above commit, I implemented my best guess.  So you may want to just test-drive in master, and tell me what you'd like to change.

The current values are:

[code]

[2021-06-15 20:47] pixelzoom commented on #84
The measurement tools are not currently in the pdomOrder, because they have not been implemented. Unlike the Discrete screen, the measurement tools are always visible in this screen.  And where to put them in the pdomOrder is a little tricky.  The k<sub>1</sub> tool is used to measure the top chart.  The other tool is used to measure the Components or Sum chart.

[2021-06-17 04:53] arouinfar commented on #85
There is a section at the top of the a11y doc for important issues, so I added #53. I also added the step sizes to the sliders and checked that the focus order is correct. I don't believe there's anything else to do for now, so closing.

[2021-06-17 04:53] #85 closed

[2021-06-17 05:02] arouinfar commented on #84
@pixelzoom the current pdomOrder looks good to me. I added a section to the a11y doc for the Wave Packet screen. I still need to specify slider step sizes, but that's tracked in #83.

For the measurement tools, I see two options
(1) Group the tools together just after the control panel. This is consistent with the Discrete screen, though not completely analogous since these tools aren't ever turne

[2021-06-17 05:05] arouinfar commented on #68
@pixelzoom the Discrete screen is looking great. I noticed you moved the sound controls up into the Fourier Series section, and I think that was a good call.

One odd thing I noticed was that in my local copy (pulled all late evening 6/15) was that the focus on the round buttons on the Discrete screen was askew, but looked fine on the other two screens. For example:
<img width="57" alt="Screen Sho

[2021-06-17 05:09] arouinfar commented on #57
These came out wonderfully @pixelzoom!

Great call. I think the numbers make the icons look more balanced and easier to interpret.

Looks great!

I'm happy with the amplitudes/bar colors, so I'll go ahead and close.

[2021-06-17 05:09] #57 closed

[2021-06-17 05:15] arouinfar opened #87 "Show Answer button always disabled with alt input"
For #69

When using the keyboard to play the game, the Show Answer button never becomes enabled, regardless of how many times the amplitudes are changed. Looks like the button's EnabledProperty isn't listening to keyboard events.

Steps to reproduce
1. Open Wave Game, any level
2. Tab to an amplitude slider and change the value
3. Repeat multiple times
4. Show Answer is always disabled

[2021-06-17 05:33] arouinfar opened #88 "Unable to reduce number of amplitude controls until pressing Show Answer"
For #69

Steps to reproduce:
1. Wave Game, any level
2. Notice the decrement button in the Amplitude Controls NumberSpinner is disabled
3. Adjust amplitude sliders until Show Answer is enabled (decrement button still disabled)
4. Show Answer then select New Waveform
5. Decrement button is now enabled

I can't remember if we decided that students need to attempt finding the solution before reducing

[2021-06-17 05:34] arouinfar commented on #69
In general, the game is looking really nice. I don't have any visual design tweaks to suggest. The focus order is also good. I did notice a few oddities (bugs?) related to the Show Answer button, which I've tagged above.

In https://github.com/phetsims/fourier-making-waves/issues/60#issuecomment-847307404 @pixelzoom said:

I had similar thoughts. N=3 seems fine for the first level, but it's inadeq

[2021-06-17 14:57] pixelzoom commented on #84
Thanks, I'll go with (1).  If we decide to change to (2), note that the Wavelength/Period tool is applicable to both the Components and Sum charts, so should probably be the first thing after the _Components'_ expand/collapse button, not the Sum's expand/collapse button.

[2021-06-17 15:04] pixelzoom opened #89 "Focus highlights for round buttons are not centered (Discrete screen)"
Reported by @arouinfar in https://github.com/phetsims/fourier-making-waves/issues/68#issuecomment-862927885, for the Discrete screen:

One odd thing I noticed was that in my local copy (pulled all late evening 6/15) was that the focus on the round buttons on the Discrete screen was askew, but looked fine on the other two screens. For example:
<img width="57" alt="Screen Shot 2021-06-16 at 8 30 34

[2021-06-17 15:04] pixelzoom commented on #89
@arouinfar OS and browser versions?

[2021-06-17 15:10] pixelzoom commented on #89
I cannot reproduce this with 1.0.0-dev.29 or master, using macOS 11.3.1 + Safari 14.1 + Chrome 91.0.4472.106.

@arouinfar does this behavior change if you resize your browser window?  If wonder if there's some rounding error in the computation of the radius for the focus highlight.

[2021-06-17 15:12] pixelzoom commented on #68
Tracking in https://github.com/phetsims/fourier-making-waves/issues/89. I cannot reproduce this.

Leaving this issue open and assigned to @kathy-phet for review.

[2021-06-17 15:39] pixelzoom opened #90 "When should the 'Show Answer' button become enabled?"
In Wave Game, we decided to start each challenge with 'Show Answer' button disabled, so that the student has to make an attempt before they can give up.  We enable the 'Show Answer' button after the user has interacted with the Amplitudes chart N times. An interaction is a press on a Slider or NumberDisplay. Currently, N=3.

In https://github.com/phetsims/fourier-making-waves/issues/60#issuecommen

[2021-06-17 15:41] pixelzoom commented on #69
@arouinfar said:

Moving this to https://github.com/phetsims/fourier-making-waves/issues/90.

[2021-06-17 15:43] pixelzoom commented on #87
We're currently enabling the 'Show Answer' button after the student has pressed on a slider N times. This is done via a PressListener on each slider.  Unfortunately "press" is not generalized for all forms of input, and this will require an additional alt-input-specific listener.

[2021-06-17 16:27] pixelzoom opened #91 "Wave Game interaction model does not work for alt input"
Here's an interesting a11y design problem...

In the Wave Game, the student's answer to a challenge is not evaluated until they have released all sliders.  So they can't solve the challenge unintentionally by simply moving past the correct amplitude - releasing the slider indicates that they have intentionally selected a value.

But that model only works for mouse/touch.  For keyboard input, there

[2021-06-17 17:14] pixelzoom commented on #87
Ugh... This is going to require big changes.  I can't add a KeyboardDragListener to the entire Amplitudes chart without making it focusable.  So I'll need to add to each AmplitudeSlider individually, via some new option(s).

[2021-06-17 17:22] jessegreenberg commented on #87
Keyboard events bubble, another thing you could do is add an event listener like this to the WaveGameAmplitudesChartNode.
[code]

[2021-06-17 17:26] pixelzoom commented on #88
The problem is that the spinner is initialized incorrectly.  Show Answers is not involved at all.  For example:

1. Wave Game, any level
2. Notice the decrement button in the Amplitude Controls NumberSpinner is disabled
3. Press New Waveform
4. Decrement button becomes enabled.

[2021-06-17 17:45] pixelzoom commented on #87
Thanks @jessegreenberg.  I was hoping to do something that was specific to alt-input, not specific to keyboard, so that we don't have to revisit this in the future.  But maybe I'll do whatever is easiest for now.

[2021-06-17 17:48] pixelzoom commented on #87
Thanks @jessegreenberg.

I was hoping to do something that was specific to alt-input, not specific to keyboard, so that we don't have to revisit this in the future.

Calling KeyboardUtils.isArrowKey also relies on internal knowledge of the implementation of KeyboardDragListener, that is involves the arrow keys.  That's probably unlikely to change, but still feels unclean.

But maybe I'll do whatev

[2021-06-17 17:58] jessegreenberg commented on #87
Yea, it is specific to keyboard. Another option would be to go through the `startDrag` option of Slider.js. This would require passing the callback to each Slider, but this is called for any form of alternative input, including keyboard events and `input` and `change` events from other devices.

Alternatively, instead of going through input would it work to use a DerivedProperty with dependencies

[2021-06-17 18:07] pixelzoom commented on #87
All good ideas, thanks.

[2021-06-17 18:36] pixelzoom commented on #88
This is likely the problem.  In WaveGameLevel, min for the range is incorrect:

[code]

Instead of `config.defaultNumberOfAmplitudeControls`, I think it should be `config.getNumberOfNonZeroHarmonics()`.   I'll have to confirm that Level 5 behaves correctly, since the number of non-zero harmonics varies from 5-11.

[2021-06-17 18:56] pixelzoom commented on #88
Fixed in the above commit. @arouinfar please verify in master.  Please close if it looks OK.

[2021-06-17 19:10] pixelzoom commented on #90
There's another problem here. When the 'Show Answer' button has become enabled, it will disable as you drag the slider through the correct value.  For example:

1. Go to Level 1
2. Click on the slider 3 times to enable the Show Answer button
3. Drag the slider without releasing it. Notice that when the slider is on the correct answer, the Show Answer button becomes disabled.

The idea here was tha

[2021-06-17 19:40] pixelzoom commented on #90
In the above commit, I adjusted N as recommended by @arouinfar in https://github.com/phetsims/fourier-making-waves/issues/90#issue-924072735.  And I addressed the problem described in https://github.com/phetsims/fourier-making-waves/issues/90#issuecomment-863496014.

Regarding N...  This feels better, in terms of the effort that the user needs to put in.  But I'm a little concerned that the user w

[2021-06-17 19:58] pixelzoom commented on #89
Here's the code in RoundButton that controls the focus highlight.  I confirm that this is the correct code  by changing `5` to a larger number.

[code]

This was implemented by @jessegreenberg in https://github.com/phetsims/sun/commit/e911a9aa969fe60e95d6822931935d64e4d5947d back in 2017.  It hasn't changed since then. (RoundButtonView was renamed to RoundButton in unrelated work.)

@jessegreenber

[2021-06-17 20:15] pixelzoom commented on #91
Note to self, if we go with option (1) above:
* definitely delete `this.numberOfSlidersDraggingProperty` in WaveGameAmplitudesChartNode
* maybe delete `this.isMatchedProperty` in WaveGameLevel
* revise `faceVisibleProperty` derivation in WaveGameLevelNode
* delete `Property.multilink` on line 321 of WaveGameLevelNode
* add 'Check Answer' button in WaveGameLevelNode, listener should do what WaveGam

[2021-06-17 20:24] pixelzoom commented on #87
@jessegreenberg suggested.

I investigated this, and it looked promising/straightforward,.  But unfortunately it does not get called when the user clicks on the slider track.  So it's not a reliable way to detect "an interactive with the Slider".

[2021-06-17 22:41] jessegreenberg commented on #89
I was not able to get this to happen on my main Windows development machine, but I happened to try it on a laptop that I had set to a an odd screen resolution (1360x788) and I saw this right away on Windows Chrome. When I zoomed into the button, the problem went away as the button and highlight got larger. Then, when reset to recommended device resolution (3840x2160) the problem went away again. S

[2021-06-17 23:56] jessegreenberg commented on #87
Would it be possible to pass the same `startDrag` to AmplitudeSlider's BarTrack? It looks like SliderTrack also takes a `startDrag` option and receives it when using the DefaultSliderTrack in Slider.js.

[2021-06-18 16:20] jessegreenberg commented on #89
@jonathanolson and I met today and he helped investigate this. Unfortunately, we were not able to see this issue in the same way on my machine in Chrome, even when I had it set to lower resolutions. I had not pulled since I last investigated in https://github.com/phetsims/fourier-making-waves/issues/89#issuecomment-863607870. We thought Zoom screen share might be interfering so I tried again witho

[2021-06-18 16:39] jessegreenberg commented on #73
I am leaning toward making that the responsibility of the UI components were possible. A checkbox icon shouldn't be focusable and I don't think it should ever have content that should be read by a screen reader.  I made issues in sun and scenery-phet to review components and make icons `pdomVisible: false` where appropriate so this kind of won't happen for components in those repos.

Anything else

[2021-06-22 13:27] pixelzoom commented on #90
If we add a "Check Answer" button for https://github.com/phetsims/fourier-making-waves/issues/91, that may change what we do here.  We could simply waiting until the student has pressed the "Check Answer" button N times, then enable the "Show Answer" button.  This would be more obvious to the student, it would be a simpler implementation, and the alt input problem in https://github.com/phetsims/fo

[2021-06-22 17:01] pixelzoom commented on #73
That sounds OK to me. I've already run into this in Fourier, for a checkbox icon, and `pdomVisible: false` worked fine.

Closing.

[2021-06-22 17:39] pixelzoom opened #92 "Are there hot keys for TimeControlNode?"
And if so, should they be in keyboard help for the Discrete screen?

[2021-06-22 17:48] pixelzoom commented on #91
Zoom with @arouinfar, decisions:

* Add "Check Answer" button, above "Show Answer" button
* Add hot key for "Check Answer" button
* After solving challenge or pressing "Show Answer", disable "Check Answer" button
* Press "Check Answer" button 2x to enable "Show Answer"
* "Check Answer" is disabled until the user changes 1 amplitude.
* When challenge is in "explore" mode (after solving or showing a

[2021-06-22 21:57] pixelzoom commented on #92
TimeControlNode has not had a comprehensive hot-key design. One of its subcomponent (play/pause button) supports a hot key by default, while the other subcomponents (step, etc.) do not support hot keys.  I think it would be odd to have partial support, so I'm going to turn off play/pause hot key until there's uniform support - see https://github.com/phetsims/scenery-phet/issues/682.

I've told @je

[2021-06-22 22:00] pixelzoom commented on #91
Everything is implemented, but the hot key (Alt-C) is not working. There are two problems in a11y common code that need to be resolved: https://github.com/phetsims/scenery/issues/1241, https://github.com/phetsims/scenery/issues/1053.

In the meantime, @arouinfar please review everything except the hot key.

[2021-06-22 23:08] pixelzoom commented on #87
Changes in https://github.com/phetsims/fourier-making-waves/issues/91 have made this a non-issue. The 'Show Answer' button is now enabled after the user has pressed the 'Check Answer' button 2x.

Closing.

[2021-06-22 23:08] #87 closed

[2021-06-22 23:08] pixelzoom commented on #90
Changes in https://github.com/phetsims/fourier-making-waves/issues/91 have made this a non-issue. The 'Show Answer' button is now enabled after the user has pressed the 'Check Answer' button 2x.

Closing.

[2021-06-22 23:08] #90 closed

[2021-06-22 23:28] pixelzoom opened #93 "Keyboard help content for hotkeys"
Related to #91 and #92...  We're adding some hotkeys to Fourier.

**Wave Game** screen:
In #91, we're adding a hotkey for the "Check Answer" button in Wave Game.  Wave Game currently uses  `SliderAndGeneralKeyboardHelpContent`, which provides the layout and content shown in the screenshot below.
* Where should we add the hotkey description?
* What should the title be?
* What should the description

[2021-06-22 23:36] pixelzoom commented on #69
Some additional requirements (and major changes) are noted in https://github.com/phetsims/fourier-making-waves/issues/91.

[2021-06-23 13:35] pixelzoom commented on #91
@arouinfar The hotkey for "Check Answer" is now working.  It's Alt+C, let me know if you'd like to use something else.

Adding the hotkey to the keyboard help dialog will be done in #93.

[2021-06-23 18:18] jessegreenberg commented on #93
The help content for the TimeControlNode hotkeys in MAL was
![tempsnip](https://user-images.githubusercontent.com/6396244/123147440-48c56180-d41c-11eb-8f03-09a17c04b065.png)

I think it would be great if we could have reusable strings for the TimeControlNode, but have been told we need unique strings for each sim. @arouinfar what do you think?

Even if we continue using unique strings we can make

[2021-06-24 16:53] arouinfar commented on #92
I was confused by this statement because MAL does have a hotkey for StepForwardButton:

But then I saw what @pixelzoom said in https://github.com/phetsims/scenery-phet/issues/682:

@pixelzoom I agree that this is not blocking, as the TimeControlNode is not critical to the learning goals of Fourier: Making Waves.

[2021-06-24 16:54] pixelzoom commented on #92
Thanks @arouinfar. Marking this issue as deferred, to be addressed in the future (after 1.0).

[2021-06-29 03:41] arouinfar opened #94 "Wave Game: Shift position of +1 Star"
For #69

The placement of the +1 Star seems a bit off. It appears next to the Check Answer button, while logical, it looks unbalanced.
<img width="1439" alt="Screen Shot 2021-06-28 at 9 22 43 PM" src="https://user-images.githubusercontent.com/8419308/123733612-086d4580-d859-11eb-86fe-5ce6b8a5de89.png">

I would either center it horizontally
(1) in the layout bounds.
(2) over the graphs.

I don't h

[2021-06-29 03:44] arouinfar commented on #69
@kathy-phet and I reviewed the Wave Game in the 6/24/21 design meeting, and our only change request for this screen is #94 linked above.

Since all feedback is being tracked in other issues, I'm going to go ahead and close this one.

[2021-06-29 03:44] #69 closed

[2021-06-29 04:04] arouinfar opened #95 "Discrete Screen pixel polishing"
For #68

- [ ] The contents of the Measurement Tools NumberSpinners look off-centered due to the subscripts. Is it possible to center the contents while taking the subscripts into account? If not, could we manually shift the contents to the left a bit?
![image](https://user-images.githubusercontent.com/8419308/123734382-79f9c380-d85a-11eb-95f4-db0b9f541d83.png)

- [ ] The serif font tends to look

[2021-06-29 04:04] arouinfar commented on #68
@kathy-phet and I reviewed the Discrete screen in the 6/24/2021 design meeting. @kathy-phet suggested some pixel polishes, which I've documented in #95 linked above.

Since everything's being tracked in separate issues, I'll close this one.

[2021-06-29 04:04] #68 closed

[2021-06-29 20:14] samreid opened #96 "no-unmodified-loop-condition lint failure in AmplitudesGenerator.js"
In https://github.com/phetsims/chipper/issues/814#issuecomment-838724968 we agreed to enable the `no-unmodified-loop-condition` linting rule.  I'll enable the rule, but there is an occurrence in Fourier that I'm not sure how the responsible developer will want to handle.  I'll disable the rule for the offending line for now, and leave up to @pixelzoom to determine how to proceed.

[2021-06-29 20:53] samreid opened #97 "Make it easier to "match the pink waveform"."
While testing the game, I was given a challenge to match a wave with 3 amplitudes.  I did this, but it was still marked wrong:

![image](https://user-images.githubusercontent.com/679486/123865849-a14ba180-d8e9-11eb-80ba-96ae0f49b57e.png)

Is the game too strict?

[2021-06-30 20:27] pixelzoom commented on #94
Thanks @arouinfar.  I prefer horizontally centered on the charts, vertically centered on the layoutBounds.  That's were it was placed prior to the major changes that I made for #91.   I'll restore it to that position.

[2021-06-30 20:49] pixelzoom commented on #96
This was done in https://github.com/phetsims/fourier-making-waves/commit/8bb53c73754d1c1d0497b18c2cdaa4e85bef2d51.

[2021-07-01 18:44] pixelzoom commented on #94
Position fixed in the above commit, see screenshot below.  Closing.

<img width="999" alt="screenshot_1038" src="https://user-images.githubusercontent.com/3046552/124174767-fc0c0700-da69-11eb-8a7c-4bde2c7b8e07.png">

[2021-07-01 18:51] pixelzoom commented on #94
Reopening.

I decided to also revisit the vertical alignment of the "+1 Star" and frowny face.  Rather than vertically centered on the layoutBounds, I think it looks better to vertically center on the Harmonics chart, as in the screenshots below.

@arouinfar does this change look OK to you? If so, feel free to close. If not, it's easy to revert.

<img width="974" alt="screenshot_1040" src="https:/

[2021-07-01 19:05] pixelzoom commented on #97
Challenges are generated with amplitudes that are multiples of 0.5, which is the same interval as the amplitude sliders.   Solving a challenge means setting exact amplitude values, not "close enough".  In this case, you have not matched the pink wave. And if you had continued to tweak amplitudes, you probably would have discovered that you could get closer to the pink wave by tweaking the higher-o

[2021-07-01 19:22] pixelzoom commented on #96
Rule is described at https://eslint.org/docs/rules/no-unmodified-loop-condition

My loop:

[code]

lint fails with:

So I tried:

[code]

... then lint complains:

Why on earth would I expect a constant to be modified in a loop ?!?!?

[2021-07-01 20:04] pixelzoom commented on #96
Discussed with @samreid on Zoom.  Decided to disable `no-unmodified-loop-condition`.  This rule seems to have been written by someone who has no understanding of the difference between `while` and `do while`. The latter is used in situations where you want to excute the block _at least_ once, and including an expression that is NOT modified in the loop is a common technique for ensuring the the bl

[2021-07-01 20:04] #96 closed

[2021-07-01 20:21] pixelzoom opened #98 "Center choices in Measurement Tools spinners"
Requested by @arouinfar in https://github.com/phetsims/fourier-making-waves/issues/95

The contents of the Measurement Tools NumberSpinners look off-centered due to the subscripts. Is it possible to center the contents while taking the subscripts into account? If not, could we manually shift the contents to the left a bit?

![image](https://user-images.githubusercontent.com/8419308/123734382-79f9c

[2021-07-01 20:23] pixelzoom opened #99 "Make size appear to be more uniform for serif and sans serif font."
Requested by @arouinfar in https://github.com/phetsims/fourier-making-waves/issues/95.

The serif font tends to look smaller than the sans serif font. It's most obvious in the "Equation" ComboBox. If possible (and reasonable) can the serif font in the "Equation" and "Function of" ComboBoxes and Series RadioButtonGroup be bumped up a point to look more similar?

![image](https://user-images.githubu

[2021-07-01 20:24] pixelzoom opened #100 "Tweak initial position of period counter tool"
Requested by @arouinfar in https://github.com/phetsims/fourier-making-waves/issues/95.

The location period counter tool is vertically centered between the Harmonics and Sum graphs, but due to the x-axis labels looks off-center. Can it instead be centered in the space between the Harmonics graph x-axis labels and the top of the Sum graph? Here's a rough approximation:

![image](https://user-images

[2021-07-01 20:26] pixelzoom commented on #95
The 3 requests above each have unique solutions and challenges, and some will require more discussion.  So I've broken them out into 3 separate GitHub issues.  Closing this issue.

[2021-07-01 20:26] #95 closed

[2021-07-01 20:29] pixelzoom commented on #100
Done, screenshot below.  Please verify in master.

<img width="349" alt="screenshot_1041" src="https://user-images.githubusercontent.com/3046552/124185807-aee36180-da78-11eb-9d94-b159d42a2e4a.png">

[2021-07-01 20:36] pixelzoom commented on #98
Done in the above commit, see screenshot below.  Please review in master.

<img width="307" alt="screenshot_1042" src="https://user-images.githubusercontent.com/3046552/124186515-a6d7f180-da79-11eb-8fa9-abefa83cb9cc.png">

[2021-07-01 20:52] pixelzoom commented on #99
The font used for controls throughout the sim is 12-point.  I added a separate font for use with controls that involve the math font (serif), and it is 13-point.  Here are the defintions in FMWConstants.js:

[code]

MATH_CONTROL_FONT is now used in these places:
* Series radio buttons
* Equation combo box
* Measurement Tools spinners

The "Function of" combo box is problematic.  For translation, i

[2021-07-06 20:18] pixelzoom commented on #56
Raising priority to get feedback from @arouinfar and @kathy-phet.  Slider sound API is a large task, so if this is needed, that work needs to start very soon.

[2021-07-07 17:54] pixelzoom commented on #91
@arouinfar Wave Game review was completed (and closed) in https://github.com/phetsims/fourier-making-waves/issues/69, and presumably included the features in this issue.  So can this issue be closed?

[2021-07-07 19:32] pixelzoom commented on #45
I just noticed that switching screens does not turn off the Fourier series sound on the Discrete screen.  @jbphet Does soundManager provide any support for screen-specific sound? Or do i need to handle that myself by observing something like `phet.sim.screenProperty`?

[2021-07-07 19:49] pixelzoom opened #101 "How to start/stop continuous sounds that are specific to a Screen?"
The Discrete screen has a checkbox/slider control for the sound associated with the Fourier series:

<img width="280" alt="screenshot_1050" src="https://user-images.githubusercontent.com/3046552/124819749-ded3ae80-df29-11eb-969e-31cb5ce47d94.png">

This is a continous sound.  And I just discovered that switching screens does NOT stop this sound.

@jbphet Does soundManager provide any support for s

[2021-07-07 20:11] pixelzoom commented on #101
In the above commit, I added a workaround that involves observing `phet.joist.screenProperty`, and controlling the Fourier series sound based on whether the Discrete screen is selected.  This needs to be done at the Screen level, because ScreenView and Model do not know about (and should not know about) Screen.  It also can't be wired up right away, because the model (and view) have not been const

[2021-07-07 23:26] pixelzoom commented on #81
This still feels like a bit of a crowded mess, and I'm at a loss for how to clean it up. Especially the "Width" section, with the 2 dependent sliders.

@arouinfar thoughts?

[2021-07-08 21:20] jbphet commented on #101
In the early days of this library I asked about how best to support this feature, and the consensus was that in cases where a sound needed to be muted when a screen change occurred, we should associate the sound generator with a scenery Node instead of a screen.  That is supported through the `associatedViewNode` option to the `soundManager.addSoundGenerator` method.  There is an example usage in

[2021-07-09 16:14] arouinfar commented on #97
I've encountered similar situations when testing the sim -- the sum looks close but it's not an exact match. Generally, one or two sliders are off by 0.05 (a single step). In that case, troubleshooting is not particularly difficult. I don't think a "close enough" tolerance would be worth the added complexity.

I've made a note to document the game requirements in the Teacher Tips. I'll also look o

[2021-07-09 16:20] arouinfar commented on #100
👍🏻

[2021-07-09 16:20] #100 closed

[2021-07-09 16:20] arouinfar commented on #98
Looks great!

[2021-07-09 16:20] #98 closed

[2021-07-09 16:23] pixelzoom commented on #101
Awesome, `associatedViewNode` works great.  Closing.

[2021-07-09 18:19] arouinfar commented on #99
Thanks @pixelzoom. I think this already looks much better. We don't really have the room to uniformly increase the font sizes, so I am fine with leaving as-is. I think the units are more secondary in the "Function of" ComboBox, so the contents are still readable at the current size.

[2021-07-09 18:19] #99 closed

[2021-07-09 18:22] arouinfar commented on #94
Thanks @pixelzoom! I think the alignment in master looks really nice.

[2021-07-09 18:22] #94 closed

[2021-07-09 18:22] arouinfar commented on #91
Yep, let's close this one.

[2021-07-09 18:22] #91 closed

[2021-07-09 18:27] pixelzoom commented on #89
This issue has stalled.  @jessegreenberg is waiting for this feedback from @arouinfar:

[2021-07-09 18:31] pixelzoom commented on #89
This is occurring with ResetAllButton and InfoButton, common code components.  And Fourier is using their default pointer areas and focus highlights.  So if this is not blocking for Fourier, then I'd like to transfer this issue to a more general repo.

[2021-07-09 19:10] pixelzoom commented on #80
I spent a couple of hours investigating this, bailed and didn't commit anything. Conclusions:

These controls need to change their symbol and units based on domain. NumberControl provides no API for changing the symbol or units. NumberDisplay has `recomputeText`, but that's a bit of hackery, and not accessible via NumberControl.

If NumberDisplay did have a way of observing symbol and units, it ca

[2021-07-09 20:46] arouinfar commented on #88
Looks good in master

[2021-07-09 20:46] #88 closed

[2021-07-09 20:53] arouinfar commented on #45
The sound levels are much better now @pixelzoom! A default of 50% seems perfect to me.

I'm also unable to reproduce the bug described in https://github.com/phetsims/fourier-making-waves/issues/45#issuecomment-861047260 so @pixelzoom's fix took care of things.

I don't think there's anything else left to here, but since the sound implementation isn't complete, it seems best to leave open and unass

[2021-07-09 21:08] arouinfar opened #102 "Publish a prototype"
Ariel had some inquiries about Fourier: Making Waves at the recent New Faculty Workshop, and suggested that we consider publishing a prototype.

The publication milestone is still a few months out, and it's unlikely to be completed in time for the start of the semester. However, the first two screens are in great shape, so we could consider publishing a prototype with `screens=1,2`. What do you th

[2021-07-12 16:50] arouinfar commented on #56
A sim-specific approach seems reasonable to me. Perhaps we can defer the common code work until we get to a 3rd sim that wants to use the slider clicks. I know it's unconventional to wait so long to generalize, but given current priorities, it seems okay. I can't make that call, however, so leaving it up to @kathy-phet.

[2021-07-12 16:53] kathy-phet commented on #56
Sim-specific is OK, so this shouldn't be blocking for this sim publication. But I will add as a line item in PhET overview, to keep it on the radar for a future quarterly goal.

[2021-07-12 16:58] pixelzoom commented on #56
To clarify…. There is a sim-specific sound implementation for the Amplitude sliders. There is no sound for any of the other sliders, and I'm not planning to do a sim-specific sound implementation for those other sliders.  Which option do you want to pursue?

(1) Sim-specific sound for Amplitude sliders, no sound for other sliders.
(2) Sim-specific sound for all sliders.
(3) Slider sound API in com

[2021-07-12 17:11] pixelzoom commented on #102
A prototype is OK with me.  But it will affect the 1.0 schedule.  Plan on pushing all milestones out at least a week, to account for the time that I'll spend shepherding the prototype through the process, fixing issues, etc.

If you decide to proceed, let me know if there are any features that I should turn off (UI sounds, keyboard traversal,...)

[2021-07-12 18:28] arouinfar commented on #102
@pixelzoom I wouldn't turn off sound or alt input, just hide the Wave Packet screen. Let's discuss at design meeting.

[2021-07-12 20:36] pixelzoom commented on #80
I went with option (2) -minor changes to NumberControl, with some hackery in a subclass to make this work.  First, I added NumberControl.redrawNumberControl, to update the display when  the symbol and units change (to match the domain).   Then I converted my classes to NumberControl.  They take up a bit more vertical space (see screenshot below) but seems to be working OK.  And keyboard traversal

[2021-07-12 20:36] #80 closed

[2021-07-12 21:47] pixelzoom commented on #81
In #80, I converted the Sliders to NumberControls.  It doesn't make the layout of the control panel better or worse.  Noting here because it changes the look of the control panel. See screenshot below.

<img width="262" alt="screenshot_1054" src="https://user-images.githubusercontent.com/3046552/125359960-5a699d00-e328-11eb-8957-f4a50df3ad8e.png">

[2021-07-12 22:09] pixelzoom commented on #81
We could provide some vertical space by moving the subtitles ("Component Spacing", "Center", "Width") to the left of their associated NumberDisplays.  See screenshot below.

Problems with this:

* "Component Spacing" makes the panel too wide. We'd have to steal some width from the charts. Could this label be shortened to "Spacing"?
* "Width" is repeated twice.  And these values are not the width,

[2021-07-12 22:18] pixelzoom commented on #81
Trying some of the suggestions in the previous comment, see the screenshot below.  "Component Spacing" is shortened to "Spacing".  "Width" is replaced with dk and dt.  dk and dx are specific to the space domain, and would need to change to dω and dt respectively for the time domain.

<img width="259" alt="screenshot_1058" src="https://user-images.githubusercontent.com/3046552/125362573-5b9cc900-e3

[2021-07-12 22:41] pixelzoom commented on #83
After switching to NumberControl in #80, `shiftKeyboardStep` can no longer be set. It's controlled by NumberControl, and must be the same as `options.delta`, which is the delta per press of the arrow buttons.

The current values are shown below.  In all cases, `pageKeyboardStep` moves to the min/max of the slider.

[code]

[2021-07-12 23:05] pixelzoom commented on #101
Reopening, there's still a problem here.

In https://github.com/phetsims/fourier-making-waves/issues/55, we implemented "ducking" of UI sounds. When the Fourier series sound is turned on, all sounds for the 'user-interface' category are attenuated.  In DiscreteScreenView.js:

[code]

These steps demonstrate the problem:
1. Start the sim.
2. Go to the Discrete screen.
3. Press some UI components an

[2021-07-12 23:11] pixelzoom commented on #101
Observing FourierSoundGenerator's `fullyEnabledProperty` seems to produce the desired result:

[code]

But I'm read the doc, and I don't really understand `fullyEnabledProperty`, or it's partner `locallyEnabledProperty`.

@jbphet please advise.

[2021-07-12 23:17] pixelzoom commented on #101
I'm going to re-close this, and move this problem over to the ducking issue.

[2021-07-12 23:17] #101 closed

[2021-07-12 23:20] pixelzoom commented on #55
Reopening, there's a problem here.

When the Fourier series sound is turned on, all sounds for the 'user-interface' category are attenuated.  In DiscreteScreenView.js, we listen to `model.fourierSeriesSoundEnabledProperty`:

[code]

In https://github.com/phetsims/fourier-making-waves/issues/101, we associated FourierSoundGenerator with the Discrete screen, so that it will be silenced when switchin

[2021-07-13 15:17] pixelzoom commented on #81
I'm back to where we started with this, see screenshot below.  It seems clearer if all of the "Width" stuff needs to be separated from the "Center" control.  I'd like to change "Component Spacing" to "Fourier Component Spacing", but the info button is in the way.

<img width="256" alt="screenshot_1061" src="https://user-images.githubusercontent.com/3046552/125478049-e550dc97-c140-401f-985c-cc124ad

[2021-07-13 16:51] pixelzoom commented on #81
Here's another possible improvement, making `dk = 1/dx` explicit.   Is this desirable, or is this something the student should discover?  (I'm doubting that anyone will discover the relationship.)

<img width="258" alt="screenshot_1062" src="https://user-images.githubusercontent.com/3046552/125493159-9d769fac-886b-44ca-b40f-9e0d0d511380.png">

[2021-07-13 17:02] pixelzoom opened #103 "Wave Packet Width: standard deviation vs delta"
This is something that I don't understand in the Wave Packet screen, related to the Wave Packet Width controls. But I've run across it enough times in literature to be a little concerned. So I'd like @arouinfar to determine whether there's a problem here.

We are providing controls that are labeled with symbols for standard deviation: σ<sub>k</sub>, σ<sub>x</sub>, σ<sub>ω</sub>,  σ<sub>t</sub>.

T

[2021-07-13 23:57] pixelzoom commented on #84
Duh. I just discovered that the width indicators are not interactive -- they appear on the charts to indicate the width, and are not movable.  So they will not be in the traversal order.

That means that this issue is ready for review by @arouinfar.

[2021-07-14 00:02] pixelzoom commented on #45
I'm going to close this. It will get a review again as part of #54 (UI sound design), during dev testing, etc.

[2021-07-14 00:02] #45 closed

[2021-07-15 02:53] pixelzoom commented on #84
Oh, wait... There are measurement tools, but they are always "on".  Fromhttps://github.com/phetsims/fourier-making-waves/issues/86:

So let's wait to review until those have been added.

[2021-07-15 20:42] arouinfar commented on #103
Looking at the code and the [legacy documentation](https://drive.google.com/file/d/1lAS0ye9ceFqXYqVoWK6TsYIZn8c6Q2OK/view?pli=1), I'm fairly certain that the dk, dx, etc. values in the model are actually standard deviations so we are not incorrect in how we are labelling the user interface.

For example, let's look at this snippet from [WavePacket.js](https://github.com/phetsims/fourier-making-wav

[2021-07-15 20:48] pixelzoom commented on #103
So things are incorrectly identified as deltas in the code? I should probably change that.

And is there indeed a difference between delta and standard deviation?

[2021-07-15 21:31] arouinfar commented on #56
Discussed in the 7/15/21 design meeting with @kathy-phet @pixelzoom

(3) is the preferred option, but time may not permit.
(1) is our fallback option.

[2021-07-15 21:36] pixelzoom opened #104 "Basics version?"
7/15/2021 design meeting @kathy-phet @arouinfar @pixelzoom

@arouinfar will investigate what might be in a "basics" version of this sim.  Consult with the CU faculty member who uses this sim for teaching music.

@kathy-phet said that a basics version would subtract features, not add features.

[2021-07-15 21:46] pixelzoom opened #105 "Questions for subject-matter expert"
7/15/20921 design meeting @arouinfar @kathy-phet @pixelzoom
Related to https://github.com/phetsims/fourier-making-waves/issues/103 and https://github.com/phetsims/fourier-making-waves/issues/81 and this sub-panel in the Wave Packet screen:

![screenshot_241](https://user-images.githubusercontent.com/3046552/125861421-c6df0d46-ce87-41bf-9eaf-746beca35a8b.png)

@arouinfar will consult with a subject

[2021-07-15 21:48] pixelzoom commented on #102
7/15/20921 design meeting @arouinfar @kathy-phet @pixelzoom

The plan is:
* hide the Wave Packet screen
* dev-lite testing
* RC-lite testing
* publish 1.0.0 as a prototype

Start this next week, after NS 1.4 is published.

[2021-07-15 21:49] pixelzoom commented on #56
More notes from 7/15/21:

@kathy-phet will check in with @jbphet to see whether phetsims/sun#697 and option (3) is doable in the next month.  Feature-complete milestone is 8/24/21, with the goal of starting QA testing shortly after.

[2021-07-15 21:55] pixelzoom opened #106 "Use a single Property for standard deviation related to width."
Related to #103...

WavePacket.js currently has:

[code]

... which are controlled by these 2 sliders:

![screenshot_241](https://user-images.githubusercontent.com/3046552/125862680-7ff1cf66-bd27-4186-8f64-04349f1a4c1a.png)

It would be preferable to have 1 Property in the model, controlled by both sliders.  (The name of this Property needs work, see #105.)  That would eliminate the need for `reen

[2021-07-15 21:56] pixelzoom commented on #103
7/15/2021 design meeting @arouinfar @kathy-phet @pixelzoom

Remaining questions/issues were moved to #105 and #106.  Closing.

[2021-07-15 21:56] #103 closed

[2021-07-15 21:57] pixelzoom commented on #81
To be addressed in #105.

[2021-07-20 15:07] pixelzoom commented on #104
It would be most cost-effective to do QA testing for a basics version at the same time as the full version.  If you'd like that to happen, then this decision needs to be made in the next week or two.

[2021-07-20 15:10] pixelzoom commented on #102
The dev-lite test is in the QA queue (see https://github.com/phetsims/qa/issues/673) but I have not published the dev version yet. QA has other higher-priority testing, and it doesn't make sense to have a dev version become stale. @KatieWoe is going to notify me when they are ready to begin working on https://github.com/phetsims/qa/issues/673.

[2021-07-20 19:30] pixelzoom commented on #93
Raising priority to high.  This issue has been open for 4 weeks, and this is where we're at:

We are deferrring adding TimeControlNode hot keys to the Discrete screen's keyboard-help dialog.

We are adding Alt+C (for checking the user's guess) to the keyboard-help dialog for the Wave Game screen.  @arouinfar I need a mockup showing how you'd like this to look.  That includes layout and the descrip

[2021-07-20 20:16] pixelzoom commented on #106
Done in the above commit.  `dxProperty` no longer exists in the WavePacket model.  It now exists as an "adapter" Property in DXControl, where it allows that control to set the value of `dkProperty`.

Closing.

[2021-07-20 20:32] pixelzoom commented on #81
Status: Waiting for feedback from @arouinfar on any of the above designs, and how she would like this control panel to look.

[2021-07-20 21:30] pixelzoom commented on #105
@arouinfar You might also want to ask about the general equation for computing wave packet amplutudes, for https://github.com/phetsims/fourier-making-waves/issues/18.

[2021-07-20 22:05] jbphet commented on #55
I took a shot at incorporating the visibility of the screen view into the logic for when the UI sounds are ducked.  Here is what I came up with.  I tested it, and it seemed to work.  Will this do the trick?

[code]

[2021-07-20 22:09] pixelzoom commented on #55
I guess that would work.  But was there a problem with observing `fourierSoundGenerator.fullyEnabledProperty` ?

[2021-07-20 22:10] pixelzoom commented on #55
I guess that would work.  But was there a problem with observing `fourierSoundGenerator.fullyEnabledProperty` ?   It seems more striaghtforward to say "duck sound only when fourierSoundGenerator is actually producing sound".

[2021-07-20 22:11] pixelzoom commented on #55
I'd also like to understand SoundGenerator `fullyEnabledProperty` and `locallyEnabledProperty`.

[2021-07-21 15:20] jbphet commented on #55
Sorry, I should have read https://github.com/phetsims/fourier-making-waves/issues/55#issuecomment-878661473 more carefully.  I thought you were still looking for a solution.  I think using `fullyEnabledProperty` is fine.

As far as being locally versus fully enabled, locally enabled is akin to having `visible` set to true in a Scenery node.  It _could_ be visible, but it depends on the state of th